**

!.dockerignore
!Cargo.toml
!Cargo.lock

!biscuit-file/
!biscuit-file/lib/
!biscuit-file/lib/**

!homelab/
!homelab/arcam-amp-integration/
!homelab/arcam-amp-integration/**
!homelab/sony-receiver-integration/
!homelab/sony-receiver-integration/**
!homelab/eversolo-integration/
!homelab/eversolo-integration/**
!homelab/unfolded-integration-helper/
!homelab/unfolded-integration-helper/**
!homelab/lib/
!homelab/lib/**

!schematic/
!schematic/schema/
!schematic/schema/**
!schematic/define/
!schematic/define/**
!schematic/definitions/
!schematic/definitions/**

**/target/
**/target/**
**/node_modules/
**/node_modules/**
**/frontend/
**/frontend/**
