{
  "openapi": "3.0.3",
  "info": {
    "title": "elevenlabs",
    "description": "ElevenLabs Creative Platform API for text-to-speech, voice management, and sound generation",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.elevenlabs.io",
      "description": "ElevenLabs API Server"
    }
  ],
  "paths": {
    "/v1/text-to-speech/{voice_id}": {
      "post": {
        "summary": "Converts text into speech and returns audio",
        "description": "Converts text into speech and returns audio",
        "operationId": "CreateSpeech",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpeechBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateSpeechBody"
            }
          },
          "response": "Binary"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/text-to-speech/{voice_id}/stream": {
      "post": {
        "summary": "Streams audio as it's generated",
        "description": "Streams audio as it's generated",
        "operationId": "StreamSpeech",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpeechBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateSpeechBody"
            }
          },
          "response": "Binary"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/text-to-speech/{voice_id}/with-timestamps": {
      "post": {
        "summary": "Returns audio with character-level timing information",
        "description": "Returns audio with character-level timing information",
        "operationId": "CreateSpeechWithTimestamps",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpeechBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeechWithTimestampsResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateSpeechBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "SpeechWithTimestampsResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/text-to-speech/{voice_id}/stream/with-timestamps": {
      "post": {
        "summary": "Streams audio chunks with timing information",
        "description": "Streams audio chunks with timing information",
        "operationId": "StreamSpeechWithTimestamps",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpeechBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeechWithTimestampsResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateSpeechBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "SpeechWithTimestampsResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v2/voices": {
      "get": {
        "summary": "Lists all available voices",
        "description": "Lists all available voices",
        "operationId": "ListVoices",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVoicesResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListVoicesResponse"
            }
          }
        }
      }
    },
    "/v1/voices/{voice_id}": {
      "get": {
        "summary": "Retrieves a voice by ID",
        "description": "Retrieves a voice by ID",
        "operationId": "GetVoice",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceResponseModel"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceResponseModel"
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes a voice",
        "description": "Deletes a voice",
        "operationId": "DeleteVoice",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/settings/default": {
      "get": {
        "summary": "Gets default voice settings",
        "description": "Gets default voice settings",
        "operationId": "GetDefaultVoiceSettings",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceSettings"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceSettings"
            }
          }
        }
      }
    },
    "/v1/voices/{voice_id}/settings": {
      "get": {
        "summary": "Gets voice settings for a specific voice",
        "description": "Gets voice settings for a specific voice",
        "operationId": "GetVoiceSettings",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceSettings"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceSettings"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/{voice_id}/settings/edit": {
      "post": {
        "summary": "Updates voice settings",
        "description": "Updates voice settings",
        "operationId": "UpdateVoiceSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceSettings"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/{voice_id}/samples/{sample_id}/audio": {
      "get": {
        "summary": "Gets audio for a voice sample",
        "description": "Gets audio for a voice sample",
        "operationId": "GetVoiceSampleAudio",
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": "Binary"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "sample_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/{voice_id}/samples/{sample_id}": {
      "delete": {
        "summary": "Deletes a voice sample",
        "description": "Deletes a voice sample",
        "operationId": "DeleteVoiceSample",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "sample_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/{voice_id}/samples": {
      "post": {
        "summary": "Upload audio sample for voice cloning",
        "description": "Upload audio sample for voice cloning",
        "operationId": "AddVoiceSample",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "audio": {
                    "description": "Audio file (mp3, wav, ogg, m4a)",
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {
                    "description": "Name for the sample",
                    "type": "string"
                  }
                },
                "required": [
                  "audio"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSampleResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "FormData": {
              "fields": [
                {
                  "description": "Audio file (mp3, wav, ogg, m4a)",
                  "kind": {
                    "File": {
                      "accept": [
                        "audio/*"
                      ]
                    }
                  },
                  "name": "audio",
                  "required": true
                },
                {
                  "description": "Name for the sample",
                  "kind": "Text",
                  "name": "name",
                  "required": false
                }
              ]
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "AddSampleResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/shared-voices": {
      "get": {
        "summary": "Lists voices from the public library",
        "description": "Lists voices from the public library",
        "operationId": "ListSharedVoices",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSharedVoicesResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListSharedVoicesResponse"
            }
          }
        }
      }
    },
    "/v1/voices/add/{public_user_id}/{voice_id}": {
      "post": {
        "summary": "Adds a shared voice to your library",
        "description": "Adds a shared voice to your library",
        "operationId": "AddSharedVoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSharedVoiceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSharedVoiceResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "AddSharedVoiceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "AddSharedVoiceResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "public_user_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/pvc": {
      "post": {
        "summary": "Creates a professional voice clone",
        "description": "Creates a professional voice clone",
        "operationId": "CreatePvcVoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePvcVoiceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSharedVoiceResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreatePvcVoiceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "AddSharedVoiceResponse"
            }
          }
        }
      }
    },
    "/v1/voices/pvc/{voice_id}": {
      "post": {
        "summary": "Updates a PVC voice",
        "description": "Updates a PVC voice",
        "operationId": "UpdatePvcVoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePvcVoiceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreatePvcVoiceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/pvc/{voice_id}/train": {
      "post": {
        "summary": "Starts training a PVC voice",
        "description": "Starts training a PVC voice",
        "operationId": "TrainPvcVoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainPvcVoiceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "TrainPvcVoiceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/sound-generation": {
      "post": {
        "summary": "Generates a sound effect from text",
        "description": "Generates a sound effect from text",
        "operationId": "CreateSoundEffect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSoundEffectBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateSoundEffectBody"
            }
          },
          "response": "Binary"
        }
      }
    },
    "/v1/models": {
      "get": {
        "summary": "Lists all available models",
        "description": "Lists all available models",
        "operationId": "ListModels",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<ModelInfo>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<ModelInfo>"
            }
          }
        }
      }
    },
    "/v1/single-use-token/{token_type}": {
      "post": {
        "summary": "Creates a single-use token for WebSocket auth",
        "description": "Creates a single-use token for WebSocket auth",
        "operationId": "CreateSingleUseToken",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleUseTokenResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "SingleUseTokenResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "token_type",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/history": {
      "get": {
        "summary": "Gets generated items history",
        "description": "Gets generated items history",
        "operationId": "GetHistory",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHistoryResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "GetHistoryResponse"
            }
          }
        }
      }
    },
    "/v1/history/{history_item_id}": {
      "get": {
        "summary": "Gets a specific history item",
        "description": "Gets a specific history item",
        "operationId": "GetHistoryItem",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeechHistoryItemResponseModel"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "SpeechHistoryItemResponseModel"
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes a history item",
        "description": "Deletes a history item",
        "operationId": "DeleteHistoryItem",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "history_item_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "history_item_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/history/{history_item_id}/audio": {
      "get": {
        "summary": "Gets audio for a history item",
        "description": "Gets audio for a history item",
        "operationId": "GetHistoryItemAudio",
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": "Binary"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "history_item_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/history/download": {
      "post": {
        "summary": "Downloads multiple history items as ZIP",
        "description": "Downloads multiple history items as ZIP",
        "operationId": "DownloadHistoryItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadHistoryBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "DownloadHistoryBody"
            }
          },
          "response": "Binary"
        }
      }
    },
    "/v1/usage/character-stats": {
      "get": {
        "summary": "Gets usage statistics",
        "description": "Gets usage statistics",
        "operationId": "GetUsageStats",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageStatsResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "UsageStatsResponse"
            }
          }
        }
      }
    },
    "/v1/user": {
      "get": {
        "summary": "Gets current user information",
        "description": "Gets current user information",
        "operationId": "GetUser",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "UserResponse"
            }
          }
        }
      }
    },
    "/v1/user/subscription": {
      "get": {
        "summary": "Gets user subscription information",
        "description": "Gets user subscription information",
        "operationId": "GetUserSubscription",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionModel"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "SubscriptionModel"
            }
          }
        }
      }
    },
    "/v1/workspace/resources/{resource_id}": {
      "get": {
        "summary": "Gets resource information",
        "description": "Gets resource information",
        "operationId": "GetResource",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ResourceResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "resource_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/workspace/resources/{resource_id}/share": {
      "post": {
        "summary": "Shares a resource",
        "description": "Shares a resource",
        "operationId": "ShareResource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareResourceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "ShareResourceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "resource_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/workspace/resources/{resource_id}/unshare": {
      "post": {
        "summary": "Removes sharing for a resource",
        "description": "Removes sharing for a resource",
        "operationId": "UnshareResource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnshareResourceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "UnshareResourceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "resource_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/workspace/resources/{resource_id}/copy-to-workspace": {
      "post": {
        "summary": "Copies a resource to another workspace",
        "description": "Copies a resource to another workspace",
        "operationId": "CopyResourceToWorkspace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyResourceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CopyResourceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "resource_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/service-accounts": {
      "get": {
        "summary": "Lists service accounts",
        "description": "Lists service accounts",
        "operationId": "ListServiceAccounts",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServiceAccountsResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListServiceAccountsResponse"
            }
          }
        }
      }
    },
    "/v1/service-accounts/{service_account_user_id}/api-keys": {
      "get": {
        "summary": "Lists API keys for a service account",
        "description": "Lists API keys for a service account",
        "operationId": "ListServiceAccountApiKeys",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApiKeysResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListApiKeysResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Creates an API key for a service account",
        "description": "Creates an API key for a service account",
        "operationId": "CreateApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateApiKeyBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "CreateApiKeyResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "service_account_user_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "service_account_user_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/service-accounts/{service_account_user_id}/api-keys/{api_key_id}": {
      "delete": {
        "summary": "Deletes an API key",
        "description": "Deletes an API key",
        "operationId": "DeleteApiKey",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Updates an API key",
        "description": "Updates an API key",
        "operationId": "UpdateApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiKeyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "UpdateApiKeyBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "service_account_user_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "api_key_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "service_account_user_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "api_key_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/workspace/webhooks": {
      "get": {
        "summary": "Lists webhooks",
        "description": "Lists webhooks",
        "operationId": "ListWebhooks",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhooksResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListWebhooksResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Creates a webhook",
        "description": "Creates a webhook",
        "operationId": "CreateWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateWebhookBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "CreateWebhookResponse"
            }
          }
        }
      }
    },
    "/v1/workspace/webhooks/{webhook_id}": {
      "delete": {
        "summary": "Deletes a webhook",
        "description": "Deletes a webhook",
        "operationId": "DeleteWebhook",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Updates a webhook",
        "description": "Updates a webhook",
        "operationId": "UpdateWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "UpdateWebhookBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "webhook_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "webhook_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "CreateSpeechBody": {
        "title": "CreateSpeechBody",
        "description": "Request body for text-to-speech endpoints.",
        "type": "object",
        "properties": {
          "apply_language_text_normalization": {
            "description": "Language-specific text normalization.",
            "type": "boolean"
          },
          "apply_text_normalization": {
            "description": "Text normalization mode."
          },
          "language_code": {
            "description": "ISO 639-1 language code.",
            "type": "string"
          },
          "model_id": {
            "description": "TTS model to use.",
            "type": "string"
          },
          "next_request_ids": {
            "description": "Next request IDs for chaining.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "next_text": {
            "description": "Next text for context continuity.",
            "type": "string"
          },
          "previous_request_ids": {
            "description": "Previous request IDs for chaining.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "previous_text": {
            "description": "Previous text for context continuity.",
            "type": "string"
          },
          "pronunciation_dictionary_locators": {
            "description": "Pronunciation dictionaries (up to 3).",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PronunciationDictionaryLocator"
                }
              ]
            }
          },
          "seed": {
            "description": "Seed for deterministic generation (0-4294967295).",
            "type": "integer",
            "format": "uint32"
          },
          "text": {
            "description": "Text to convert to speech.",
            "type": "string"
          },
          "voice_settings": {
            "description": "Voice configuration."
          }
        },
        "required": [
          "text"
        ]
      },
      "PronunciationDictionaryLocator": {
        "description": "Reference to a pronunciation dictionary.",
        "type": "object",
        "properties": {
          "pronunciation_dictionary_id": {
            "description": "Dictionary identifier.",
            "type": "string"
          },
          "version_id": {
            "description": "Dictionary version identifier.",
            "type": "string"
          }
        },
        "required": [
          "pronunciation_dictionary_id",
          "version_id"
        ]
      },
      "TextNormalization": {
        "description": "Text normalization mode."
      },
      "VoiceSettings": {
        "title": "VoiceSettings",
        "description": "Voice settings for TTS generation.",
        "type": "object",
        "properties": {
          "similarity_boost": {
            "description": "Adherence to original voice (0-1).",
            "type": "number",
            "format": "double"
          },
          "speed": {
            "description": "Speech rate (0.7-1.2).",
            "type": "number",
            "format": "double"
          },
          "stability": {
            "description": "Voice stability/randomness (0-1).",
            "type": "number",
            "format": "double"
          },
          "style": {
            "description": "Style exaggeration (V2+ models).",
            "type": "number",
            "format": "double"
          },
          "use_speaker_boost": {
            "description": "Enhanced similarity (V2+ models).",
            "type": "boolean"
          }
        }
      },
      "AddSharedVoiceBody": {
        "title": "AddSharedVoiceBody",
        "description": "Request to add a shared voice.",
        "type": "object",
        "properties": {
          "new_name": {
            "description": "New name for the voice.",
            "type": "string"
          }
        },
        "required": [
          "new_name"
        ]
      },
      "CreatePvcVoiceBody": {
        "title": "CreatePvcVoiceBody",
        "description": "Request to create a PVC voice.",
        "type": "object",
        "properties": {
          "description": {
            "description": "Voice description.",
            "type": "string"
          },
          "labels": {
            "description": "Labels (language, accent, gender, age).",
            "type": "object"
          },
          "language": {
            "description": "Language used in samples.",
            "type": "string"
          },
          "name": {
            "description": "Voice name.",
            "type": "string"
          }
        },
        "required": [
          "name",
          "language"
        ]
      },
      "TrainPvcVoiceBody": {
        "title": "TrainPvcVoiceBody",
        "description": "Request to train a PVC voice.",
        "type": "object",
        "properties": {
          "model_id": {
            "description": "Model to use for training.",
            "type": "string"
          }
        }
      },
      "CreateSoundEffectBody": {
        "title": "CreateSoundEffectBody",
        "description": "Request to create a sound effect.",
        "type": "object",
        "properties": {
          "duration_seconds": {
            "description": "Duration in seconds (0.5-30).",
            "type": "number",
            "format": "double"
          },
          "loop": {
            "description": "Create looping effect (v2 model only).\nNote: `loop` is a reserved keyword, so we rename it.",
            "type": "boolean"
          },
          "model_id": {
            "description": "Sound generation model.",
            "type": "string"
          },
          "prompt_influence": {
            "description": "Prompt adherence (0-1).",
            "type": "number",
            "format": "double"
          },
          "text": {
            "description": "Text prompt for the sound effect.",
            "type": "string"
          }
        },
        "required": [
          "text"
        ]
      },
      "DownloadHistoryBody": {
        "title": "DownloadHistoryBody",
        "description": "Request to download history items.",
        "type": "object",
        "properties": {
          "history_item_ids": {
            "description": "History item IDs to download.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "output_format": {
            "description": "Output format (wav or null for original).",
            "type": "string"
          }
        },
        "required": [
          "history_item_ids"
        ]
      },
      "ShareResourceBody": {
        "title": "ShareResourceBody",
        "description": "Request to share a resource.",
        "type": "object",
        "properties": {
          "group_id": {
            "description": "Target group ID.",
            "type": "string"
          },
          "resource_type": {
            "description": "Resource type."
          },
          "role": {
            "description": "Access level to grant."
          },
          "user_email": {
            "description": "Target user email.",
            "type": "string"
          },
          "workspace_api_key_id": {
            "description": "Target API key ID.",
            "type": "string"
          }
        },
        "required": [
          "role",
          "resource_type"
        ]
      },
      "AccessLevel": {
        "description": "Access level for resource sharing.",
        "type": "string"
      },
      "ResourceType": {
        "description": "Resource types for workspace management.",
        "type": "string"
      },
      "UnshareResourceBody": {
        "title": "UnshareResourceBody",
        "description": "Request to unshare a resource.",
        "type": "object",
        "properties": {
          "group_id": {
            "description": "Target group ID.",
            "type": "string"
          },
          "resource_type": {
            "description": "Resource type."
          },
          "user_email": {
            "description": "Target user email.",
            "type": "string"
          },
          "workspace_api_key_id": {
            "description": "Target API key ID.",
            "type": "string"
          }
        },
        "required": [
          "resource_type"
        ]
      },
      "CopyResourceBody": {
        "title": "CopyResourceBody",
        "description": "Request to copy resource to workspace.",
        "type": "object",
        "properties": {
          "resource_type": {
            "description": "Resource type."
          },
          "target_user_id": {
            "description": "Target user ID.",
            "type": "string"
          }
        },
        "required": [
          "resource_type",
          "target_user_id"
        ]
      },
      "CreateApiKeyBody": {
        "title": "CreateApiKeyBody",
        "description": "Request to create an API key.",
        "type": "object",
        "properties": {
          "character_limit": {
            "description": "Character limit.",
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "description": "Key name.",
            "type": "string"
          },
          "permissions": {
            "description": "Permissions (\"all\" or list)."
          }
        },
        "required": [
          "name",
          "permissions"
        ]
      },
      "ApiPermission": {
        "description": "API permissions for service account keys.",
        "type": "string"
      },
      "PermissionSpec": {
        "description": "Permission specification for API keys."
      },
      "UpdateApiKeyBody": {
        "title": "UpdateApiKeyBody",
        "description": "Request to update an API key.",
        "type": "object",
        "properties": {
          "character_limit": {
            "description": "New character limit.",
            "type": "integer",
            "format": "int64"
          },
          "is_enabled": {
            "description": "Enable/disable the key.",
            "type": "boolean"
          },
          "name": {
            "description": "New name.",
            "type": "string"
          },
          "permissions": {
            "description": "New permissions."
          }
        }
      },
      "CreateWebhookBody": {
        "title": "CreateWebhookBody",
        "description": "Request to create a webhook.",
        "type": "object",
        "properties": {
          "settings": {
            "description": "Webhook settings."
          }
        },
        "required": [
          "settings"
        ]
      },
      "WebhookAuthType": {
        "description": "Webhook authentication type."
      },
      "WebhookSettings": {
        "description": "Webhook settings for creation.",
        "type": "object",
        "properties": {
          "auth_type": {
            "description": "Authentication type.",
            "allOf": [
              {
                "$ref": "#/components/schemas/WebhookAuthType"
              }
            ]
          },
          "name": {
            "description": "Webhook name.",
            "type": "string"
          },
          "webhook_url": {
            "description": "Webhook URL.",
            "type": "string"
          }
        },
        "required": [
          "auth_type",
          "webhook_url"
        ]
      },
      "UpdateWebhookBody": {
        "title": "UpdateWebhookBody",
        "description": "Request to update a webhook.",
        "type": "object",
        "properties": {
          "is_disabled": {
            "description": "Disable/enable the webhook.",
            "type": "boolean"
          },
          "name": {
            "description": "New name.",
            "type": "string"
          }
        }
      },
      "SpeechWithTimestampsResponse": {
        "title": "SpeechWithTimestampsResponse",
        "description": "Response from TTS with timestamps endpoints.",
        "type": "object",
        "properties": {
          "alignment": {
            "description": "Timing data for original text."
          },
          "audioBase64": {
            "description": "Base64-encoded audio data.",
            "type": "string"
          },
          "normalizedAlignment": {
            "description": "Timing data for normalized text."
          }
        },
        "required": [
          "audioBase64"
        ]
      },
      "HttpAlignment": {
        "description": "HTTP alignment object for `/with-timestamps` endpoints.\n\nTimes are in **seconds** (f64).",
        "type": "object",
        "properties": {
          "characterEndTimesSeconds": {
            "description": "End time for each character in seconds.",
            "type": "array",
            "items": {
              "type": "number",
              "format": "double"
            }
          },
          "characterStartTimesSeconds": {
            "description": "Start time for each character in seconds.",
            "type": "array",
            "items": {
              "type": "number",
              "format": "double"
            }
          },
          "characters": {
            "description": "Array of individual characters.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "characters",
          "characterStartTimesSeconds",
          "characterEndTimesSeconds"
        ]
      },
      "ListVoicesResponse": {
        "title": "ListVoicesResponse",
        "description": "Response from list voices endpoint.",
        "type": "object",
        "properties": {
          "has_more": {
            "description": "Whether more results exist.",
            "type": "boolean"
          },
          "next_page_token": {
            "description": "Token for next page.",
            "type": "string"
          },
          "total_count": {
            "description": "Total count of matching voices.",
            "type": "integer",
            "format": "int64"
          },
          "voices": {
            "description": "List of voices.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/VoiceResponseModel"
                }
              ]
            }
          }
        },
        "required": [
          "voices"
        ]
      },
      "FineTuningModel": {
        "description": "Fine-tuning model for PVC voices.\n\nNote: The `state` field is a map from model ID to fine-tuning state,\nas each voice can have different fine-tuning status per model.",
        "type": "object",
        "properties": {
          "dataset_duration_seconds": {
            "description": "Dataset duration in seconds."
          },
          "is_allowed_to_fine_tune": {
            "description": "Whether fine-tuning is allowed for this voice."
          },
          "language": {
            "description": "Language code for fine-tuning."
          },
          "manual_verification_requested": {
            "description": "Whether manual verification was requested."
          },
          "max_verification_attempts": {
            "description": "Maximum verification attempts allowed."
          },
          "message": {
            "description": "Messages per model."
          },
          "model_id": {
            "description": "Model used for fine-tuning."
          },
          "next_max_verification_attempts_reset_unix_ms": {
            "description": "Unix timestamp for next verification reset."
          },
          "progress": {
            "description": "Fine-tuning progress per model."
          },
          "state": {
            "description": "Fine-tuning state per model. Keys are model IDs like \"eleven_multilingual_v2\"."
          },
          "verification_attempts_count": {
            "description": "Number of verification attempts."
          },
          "verification_failures": {
            "description": "Verification failures list."
          },
          "verification_required": {
            "description": "Whether verification is required."
          }
        }
      },
      "FineTuningState": {
        "description": "Fine-tuning state for PVC voices."
      },
      "LanguageModel": {
        "description": "Language model for voices.\n\nUsed in verified_languages array. The API can return different field\ncombinations depending on context.",
        "type": "object",
        "properties": {
          "accent": {
            "description": "Accent variant (e.g., \"american\", \"british\")."
          },
          "language_id": {
            "description": "Language identifier (e.g., \"en\").\nNote: API returns this as \"language\" in verified_languages.",
            "type": "string"
          },
          "locale": {
            "description": "Locale code (e.g., \"en-US\")."
          },
          "model_id": {
            "description": "Model ID this language is verified for."
          },
          "name": {
            "description": "Display name (e.g., \"English\").\nMay not be present in all API responses.",
            "type": "string"
          },
          "preview_url": {
            "description": "URL to preview audio for this language."
          }
        },
        "required": [
          "language_id"
        ]
      },
      "SafetyControl": {
        "description": "Safety control level for voices."
      },
      "SampleModel": {
        "description": "Voice sample model.",
        "type": "object",
        "properties": {
          "file_name": {
            "description": "Original file name.",
            "type": "string"
          },
          "hash": {
            "description": "Content hash.",
            "type": "string"
          },
          "mime_type": {
            "description": "MIME type of the audio.",
            "type": "string"
          },
          "sample_id": {
            "description": "Sample identifier.",
            "type": "string"
          },
          "size_bytes": {
            "description": "File size in bytes.",
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "sample_id",
          "file_name",
          "mime_type",
          "size_bytes",
          "hash"
        ]
      },
      "SharingModel": {
        "description": "Sharing model for voices.",
        "type": "object",
        "properties": {
          "cloned_by_count": {
            "description": "Number of clones."
          },
          "is_public": {
            "description": "Whether voice is shared.",
            "type": "boolean"
          },
          "public_owner_id": {
            "description": "Public owner ID."
          }
        }
      },
      "VoiceCategory": {
        "description": "Voice category classification."
      },
      "VoiceResponseModel": {
        "title": "VoiceResponseModel",
        "description": "Full voice response model.",
        "type": "object",
        "properties": {
          "available_for_tiers": {
            "description": "Subscription tiers this voice is available for.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "category": {
            "description": "Voice category."
          },
          "collection_ids": {
            "description": "Collection IDs this voice belongs to.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at_unix": {
            "description": "Unix timestamp when the voice was created.",
            "type": "integer",
            "format": "int64"
          },
          "description": {
            "description": "Voice description.",
            "type": "string"
          },
          "favorited_at_unix": {
            "description": "Unix timestamp when the voice was favorited.",
            "type": "integer",
            "format": "int64"
          },
          "fine_tuning": {
            "description": "Fine-tuning information."
          },
          "high_quality_base_model_ids": {
            "description": "Base model IDs that support high-quality for this voice.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_legacy": {
            "description": "Whether this is a legacy voice.",
            "type": "boolean"
          },
          "is_mixed": {
            "description": "Whether this voice uses mixed models.",
            "type": "boolean"
          },
          "is_owner": {
            "description": "Whether the current user owns this voice.",
            "type": "boolean"
          },
          "labels": {
            "description": "Voice labels (language, accent, gender, age).",
            "type": "object"
          },
          "name": {
            "description": "Voice display name.",
            "type": "string"
          },
          "permission_on_resource": {
            "description": "Permission level on this resource.",
            "type": "string"
          },
          "preview_url": {
            "description": "URL to preview audio for this voice.",
            "type": "string"
          },
          "safety_control": {
            "description": "Safety control level for this voice."
          },
          "samples": {
            "description": "Voice samples.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SampleModel"
                }
              ]
            }
          },
          "settings": {
            "description": "Voice settings."
          },
          "sharing": {
            "description": "Sharing information."
          },
          "verified_languages": {
            "description": "Verified languages.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LanguageModel"
                }
              ]
            }
          },
          "voice_id": {
            "description": "Voice identifier.",
            "type": "string"
          },
          "voice_verification": {
            "description": "Voice verification status."
          }
        },
        "required": [
          "voice_id",
          "name"
        ]
      },
      "VoiceVerificationModel": {
        "description": "Voice verification model.",
        "type": "object",
        "properties": {
          "is_verified": {
            "description": "Whether voice is verified.",
            "type": "boolean"
          },
          "requires_verification": {
            "description": "Whether verification is required.",
            "type": "boolean"
          }
        },
        "required": [
          "requires_verification",
          "is_verified"
        ]
      },
      "StatusResponse": {
        "title": "StatusResponse",
        "description": "Generic status response for many API operations.",
        "type": "object",
        "properties": {
          "status": {
            "description": "Status message (typically \"ok\").",
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "AddSampleResponse": {
        "title": "AddSampleResponse",
        "description": "Response from adding a voice sample.",
        "type": "object",
        "properties": {
          "sample_id": {
            "description": "The sample ID.",
            "type": "string"
          }
        },
        "required": [
          "sample_id"
        ]
      },
      "ListSharedVoicesResponse": {
        "title": "ListSharedVoicesResponse",
        "description": "Response from list shared voices endpoint.",
        "type": "object",
        "properties": {
          "has_more": {
            "description": "Whether more results exist.",
            "type": "boolean"
          },
          "last_sort_id": {
            "description": "Cursor for pagination.",
            "type": "string"
          },
          "voices": {
            "description": "List of shared voices.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LibraryVoiceResponseModel"
                }
              ]
            }
          }
        },
        "required": [
          "voices",
          "has_more"
        ]
      },
      "LibraryVoiceResponseModel": {
        "description": "Library voice response model (for shared voices).",
        "type": "object",
        "properties": {
          "category": {
            "description": "Voice category."
          },
          "description": {
            "description": "Voice description."
          },
          "name": {
            "description": "Voice display name.",
            "type": "string"
          },
          "public_owner_id": {
            "description": "Public owner ID."
          },
          "voice_id": {
            "description": "Voice identifier.",
            "type": "string"
          }
        },
        "required": [
          "voice_id",
          "name"
        ]
      },
      "AddSharedVoiceResponse": {
        "title": "AddSharedVoiceResponse",
        "description": "Response from add shared voice endpoint.",
        "type": "object",
        "properties": {
          "voice_id": {
            "description": "The new voice ID in your library.",
            "type": "string"
          }
        },
        "required": [
          "voice_id"
        ]
      },
      "Vec<ModelInfo>": {
        "title": "Array_of_ModelInfo",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/ModelInfo"
            }
          ]
        }
      },
      "ModelInfo": {
        "description": "Model information.",
        "type": "object",
        "properties": {
          "can_be_finetuned": {
            "description": "Fine-tuning capability.",
            "type": "boolean"
          },
          "can_do_text_to_speech": {
            "description": "TTS capability.",
            "type": "boolean"
          },
          "can_do_voice_conversion": {
            "description": "Voice conversion capability.",
            "type": "boolean"
          },
          "can_use_speaker_boost": {
            "description": "Speaker boost support.",
            "type": "boolean"
          },
          "can_use_style": {
            "description": "Style support.",
            "type": "boolean"
          },
          "concurrency_group": {
            "description": "Concurrency group."
          },
          "description": {
            "description": "Description.",
            "type": "string"
          },
          "languages": {
            "description": "Supported languages."
          },
          "max_characters_request_free_user": {
            "description": "Max characters for free users."
          },
          "max_characters_request_subscribed_user": {
            "description": "Max characters for subscribed users."
          },
          "maximum_text_length_per_request": {
            "description": "Max text length per request."
          },
          "model_id": {
            "description": "Model identifier.",
            "type": "string"
          },
          "model_rates": {
            "description": "Model rates."
          },
          "name": {
            "description": "Display name.",
            "type": "string"
          },
          "requires_alpha_access": {
            "description": "Requires alpha access.",
            "type": "boolean"
          },
          "serves_pro_voices": {
            "description": "Pro voice support.",
            "type": "boolean"
          },
          "token_cost_factor": {
            "description": "Token cost factor."
          }
        },
        "required": [
          "model_id",
          "name",
          "description"
        ]
      },
      "ModelRates": {
        "description": "Model rate information.",
        "type": "object",
        "properties": {
          "character_cost_multiplier": {
            "description": "Cost multiplier per character.",
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "character_cost_multiplier"
        ]
      },
      "SingleUseTokenResponse": {
        "title": "SingleUseTokenResponse",
        "description": "Response containing a single-use token.",
        "type": "object",
        "properties": {
          "token": {
            "description": "The generated token.",
            "type": "string"
          }
        },
        "required": [
          "token"
        ]
      },
      "GetHistoryResponse": {
        "title": "GetHistoryResponse",
        "description": "Response from get history endpoint.",
        "type": "object",
        "properties": {
          "has_more": {
            "description": "Whether more items exist.",
            "type": "boolean"
          },
          "history": {
            "description": "List of history items.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SpeechHistoryItemResponseModel"
                }
              ]
            }
          },
          "last_history_item_id": {
            "description": "Last item ID for pagination.",
            "type": "string"
          },
          "scanned_until": {
            "description": "Scan timestamp.",
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "history",
          "has_more"
        ]
      },
      "AlignmentModel": {
        "description": "Alignment model for history items.",
        "type": "object",
        "properties": {
          "character_end_times_seconds": {
            "description": "End times in seconds."
          },
          "character_start_times_seconds": {
            "description": "Start times in seconds."
          },
          "characters": {
            "description": "Character-level alignment."
          }
        }
      },
      "FeedbackModel": {
        "description": "Feedback model for history items.",
        "type": "object",
        "properties": {
          "feedback": {
            "description": "Feedback text."
          },
          "thumbs_up": {
            "description": "Thumbs up/down."
          }
        }
      },
      "HistorySource": {
        "description": "History item source."
      },
      "SpeechHistoryItemResponseModel": {
        "title": "SpeechHistoryItemResponseModel",
        "description": "Speech history item.",
        "type": "object",
        "properties": {
          "alignments": {
            "description": "Character alignments."
          },
          "content_type": {
            "description": "Content type of audio.",
            "type": "string"
          },
          "date_unix": {
            "description": "Unix timestamp.",
            "type": "integer",
            "format": "int64"
          },
          "feedback": {
            "description": "User feedback."
          },
          "history_item_id": {
            "description": "History item ID.",
            "type": "string"
          },
          "model_id": {
            "description": "Model ID used.",
            "type": "string"
          },
          "source": {
            "description": "Source of generation."
          },
          "state": {
            "description": "Generation state.",
            "type": "string"
          },
          "text": {
            "description": "The text that was converted.",
            "type": "string"
          },
          "voice_category": {
            "description": "Voice category."
          },
          "voice_id": {
            "description": "Voice ID used.",
            "type": "string"
          },
          "voice_name": {
            "description": "Voice name.",
            "type": "string"
          }
        },
        "required": [
          "history_item_id",
          "voice_id",
          "date_unix"
        ]
      },
      "UsageStatsResponse": {
        "title": "UsageStatsResponse",
        "description": "Usage statistics response.",
        "type": "object",
        "properties": {
          "time": {
            "description": "Time points.",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "usage": {
            "description": "Usage data by category.",
            "type": "object"
          }
        },
        "required": [
          "time",
          "usage"
        ]
      },
      "UserResponse": {
        "title": "UserResponse",
        "description": "User response model.",
        "type": "object",
        "properties": {
          "created_at": {
            "description": "Account creation timestamp.",
            "type": "integer",
            "format": "int64"
          },
          "first_name": {
            "description": "First name.",
            "type": "string"
          },
          "is_new_user": {
            "description": "Is new user.",
            "type": "boolean"
          },
          "is_onboarding_completed": {
            "description": "Onboarding completion.",
            "type": "boolean"
          },
          "subscription": {
            "description": "Subscription info."
          },
          "user_id": {
            "description": "User identifier.",
            "type": "string"
          },
          "xi_api_key": {
            "description": "API key (if visible).",
            "type": "string"
          }
        },
        "required": [
          "user_id"
        ]
      },
      "BillingPeriod": {
        "description": "Billing period for subscriptions."
      },
      "Currency": {
        "description": "Supported currencies.",
        "type": "string"
      },
      "InvoiceModel": {
        "description": "Invoice model.",
        "type": "object",
        "properties": {
          "amount_due": {
            "description": "Invoice amount."
          },
          "currency": {
            "description": "Invoice currency."
          },
          "due_date_unix": {
            "description": "Due date."
          }
        }
      },
      "SubscriptionModel": {
        "title": "SubscriptionModel",
        "description": "Subscription model.",
        "type": "object",
        "properties": {
          "billing_period": {
            "description": "Billing period."
          },
          "character_count": {
            "description": "Characters used.",
            "type": "integer",
            "format": "int64"
          },
          "character_limit": {
            "description": "Character limit.",
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "description": "Currency."
          },
          "max_character_limit_extension": {
            "description": "Max extension limit.",
            "type": "integer",
            "format": "int64"
          },
          "next_invoice": {
            "description": "Next invoice."
          },
          "professional_voice_limit": {
            "description": "Pro voice limit.",
            "type": "integer",
            "format": "int64"
          },
          "professional_voice_slots_used": {
            "description": "Pro voice slots used.",
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "description": "Subscription status."
          },
          "tier": {
            "description": "Subscription tier.",
            "type": "string"
          },
          "voice_limit": {
            "description": "Voice slot limit.",
            "type": "integer",
            "format": "int64"
          },
          "voice_slots_used": {
            "description": "Voice slots used.",
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "tier",
          "character_count",
          "character_limit"
        ]
      },
      "SubscriptionStatus": {
        "description": "Subscription status."
      },
      "ResourceResponse": {
        "title": "ResourceResponse",
        "description": "Resource response model.",
        "type": "object",
        "properties": {
          "anonymous_access_level_override": {
            "description": "Anonymous access level override."
          },
          "creator_user_id": {
            "description": "Creator user ID.",
            "type": "string"
          },
          "resource_id": {
            "description": "Resource identifier.",
            "type": "string"
          },
          "resource_type": {
            "description": "Resource type."
          },
          "role_to_group_ids": {
            "description": "Role to group ID mapping.",
            "type": "object"
          },
          "share_options": {
            "description": "Share options.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ShareOptionModel"
                }
              ]
            }
          }
        },
        "required": [
          "resource_id",
          "resource_type"
        ]
      },
      "ShareOptionModel": {
        "description": "Share option model.",
        "type": "object",
        "properties": {
          "group_id": {
            "description": "Group ID (if sharing with group)."
          },
          "role": {
            "description": "Access level.",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessLevel"
              }
            ]
          },
          "user_email": {
            "description": "User email (if sharing with user)."
          }
        },
        "required": [
          "role"
        ]
      },
      "ListServiceAccountsResponse": {
        "title": "ListServiceAccountsResponse",
        "description": "Response from list service accounts endpoint.",
        "type": "object",
        "properties": {
          "service-accounts": {
            "description": "List of service accounts.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServiceAccountModel"
                }
              ]
            }
          }
        },
        "required": [
          "service-accounts"
        ]
      },
      "ApiKeyModel": {
        "description": "API key model.",
        "type": "object",
        "properties": {
          "character_count": {
            "description": "Characters used."
          },
          "character_limit": {
            "description": "Character limit."
          },
          "created_at_unix": {
            "description": "Creation timestamp."
          },
          "hint": {
            "description": "Key hint (partial key)."
          },
          "is_disabled": {
            "description": "Whether key is disabled.",
            "type": "boolean"
          },
          "key_id": {
            "description": "Key identifier.",
            "type": "string"
          },
          "name": {
            "description": "Key name.",
            "type": "string"
          },
          "permissions": {
            "description": "Permissions."
          },
          "service_account_user_id": {
            "description": "Service account user ID."
          }
        },
        "required": [
          "name",
          "key_id"
        ]
      },
      "ServiceAccountModel": {
        "description": "Service account model.",
        "type": "object",
        "properties": {
          "api-keys": {
            "description": "Associated API keys."
          },
          "created_at_unix": {
            "description": "Creation timestamp."
          },
          "name": {
            "description": "Account name.",
            "type": "string"
          },
          "service_account_user_id": {
            "description": "Service account user ID.",
            "type": "string"
          }
        },
        "required": [
          "service_account_user_id",
          "name"
        ]
      },
      "ListApiKeysResponse": {
        "title": "ListApiKeysResponse",
        "description": "Response from list API keys endpoint.",
        "type": "object",
        "properties": {
          "api-keys": {
            "description": "List of API keys.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ApiKeyModel"
                }
              ]
            }
          }
        },
        "required": [
          "api-keys"
        ]
      },
      "CreateApiKeyResponse": {
        "title": "CreateApiKeyResponse",
        "description": "Response from create API key endpoint.",
        "type": "object",
        "properties": {
          "key-id": {
            "description": "Key identifier.",
            "type": "string"
          },
          "xi-api-key": {
            "description": "The full API key (only shown once).",
            "type": "string"
          }
        },
        "required": [
          "xi-api-key",
          "key-id"
        ]
      },
      "ListWebhooksResponse": {
        "title": "ListWebhooksResponse",
        "description": "Response from list webhooks endpoint.",
        "type": "object",
        "properties": {
          "webhooks": {
            "description": "List of webhooks.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WebhookModel"
                }
              ]
            }
          }
        },
        "required": [
          "webhooks"
        ]
      },
      "ProductModel": {
        "description": "Webhook product model.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Product name."
          },
          "product_id": {
            "description": "Product identifier."
          }
        }
      },
      "WebhookModel": {
        "description": "Webhook model.",
        "type": "object",
        "properties": {
          "auth_type": {
            "description": "Authentication type.",
            "allOf": [
              {
                "$ref": "#/components/schemas/WebhookAuthType"
              }
            ]
          },
          "created_at_unix": {
            "description": "Creation timestamp.",
            "type": "integer",
            "format": "int64"
          },
          "is_auto_disabled": {
            "description": "Whether webhook was auto-disabled.",
            "type": "boolean"
          },
          "is_disabled": {
            "description": "Whether webhook is disabled.",
            "type": "boolean"
          },
          "most_recent_failure_error_code": {
            "description": "Most recent failure error code."
          },
          "most_recent_failure_timestamp": {
            "description": "Most recent failure timestamp."
          },
          "name": {
            "description": "Webhook name.",
            "type": "string"
          },
          "usage": {
            "description": "Active usages."
          },
          "webhook_id": {
            "description": "Webhook identifier.",
            "type": "string"
          },
          "webhook_url": {
            "description": "Webhook URL.",
            "type": "string"
          }
        },
        "required": [
          "name",
          "webhook_id",
          "webhook_url",
          "created_at_unix",
          "auth_type"
        ]
      },
      "CreateWebhookResponse": {
        "title": "CreateWebhookResponse",
        "description": "Response from create webhook endpoint.",
        "type": "object",
        "properties": {
          "webhook_id": {
            "description": "Webhook identifier.",
            "type": "string"
          },
          "webhook_secret": {
            "description": "Webhook secret (for HMAC auth).",
            "type": "string"
          }
        },
        "required": [
          "webhook_id"
        ]
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "xi-api-key",
        "description": "API Key authentication"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "externalDocs": {
    "description": "API Documentation",
    "url": "https://elevenlabs.io/docs/api-reference"
  },
  "x-schematic": {
    "env_mapping": {
      "api_key": {
        "header": "xi-api-key",
        "names": {
          "names": [
            "ELEVEN_LABS_API_KEY",
            "ELEVENLABS_API_KEY"
          ]
        }
      },
      "basic_pass": null,
      "basic_user": null,
      "bearer_token": null
    }
  },
  "x-schematic-grouped-from": [
    "ElevenLabs"
  ]
}