{
  "openapi": "3.0.3",
  "info": {
    "title": "elevenlabs",
    "description": "ElevenLabs Creative Platform API for text-to-speech, voice management, and sound generation",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.elevenlabs.io",
      "description": "ElevenLabs API Server"
    }
  ],
  "paths": {
    "/v1/text-to-speech/{voice_id}": {
      "post": {
        "summary": "Converts text into speech and returns audio",
        "description": "Converts text into speech and returns audio",
        "operationId": "CreateSpeech",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpeechBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateSpeechBody"
            }
          },
          "response": "Binary"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/text-to-speech/{voice_id}/stream": {
      "post": {
        "summary": "Streams audio as it's generated",
        "description": "Streams audio as it's generated",
        "operationId": "StreamSpeech",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpeechBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateSpeechBody"
            }
          },
          "response": "Binary"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/text-to-speech/{voice_id}/with-timestamps": {
      "post": {
        "summary": "Returns audio with character-level timing information",
        "description": "Returns audio with character-level timing information",
        "operationId": "CreateSpeechWithTimestamps",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpeechBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeechWithTimestampsResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateSpeechBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "SpeechWithTimestampsResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/text-to-speech/{voice_id}/stream/with-timestamps": {
      "post": {
        "summary": "Streams audio chunks with timing information",
        "description": "Streams audio chunks with timing information",
        "operationId": "StreamSpeechWithTimestamps",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpeechBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeechWithTimestampsResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateSpeechBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "SpeechWithTimestampsResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v2/voices": {
      "get": {
        "summary": "Lists all available voices",
        "description": "Lists all available voices",
        "operationId": "ListVoices",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVoicesResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListVoicesResponse"
            }
          }
        }
      }
    },
    "/v1/voices/{voice_id}": {
      "get": {
        "summary": "Retrieves a voice by ID",
        "description": "Retrieves a voice by ID",
        "operationId": "GetVoice",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceResponseModel"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceResponseModel"
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes a voice",
        "description": "Deletes a voice",
        "operationId": "DeleteVoice",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/settings/default": {
      "get": {
        "summary": "Gets default voice settings",
        "description": "Gets default voice settings",
        "operationId": "GetDefaultVoiceSettings",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceSettings"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceSettings"
            }
          }
        }
      }
    },
    "/v1/voices/{voice_id}/settings": {
      "get": {
        "summary": "Gets voice settings for a specific voice",
        "description": "Gets voice settings for a specific voice",
        "operationId": "GetVoiceSettings",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceSettings"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceSettings"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/{voice_id}/settings/edit": {
      "post": {
        "summary": "Updates voice settings",
        "description": "Updates voice settings",
        "operationId": "UpdateVoiceSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceSettings"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/{voice_id}/samples/{sample_id}/audio": {
      "get": {
        "summary": "Gets audio for a voice sample",
        "description": "Gets audio for a voice sample",
        "operationId": "GetVoiceSampleAudio",
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": "Binary"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "sample_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/{voice_id}/samples/{sample_id}": {
      "delete": {
        "summary": "Deletes a voice sample",
        "description": "Deletes a voice sample",
        "operationId": "DeleteVoiceSample",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "sample_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/{voice_id}/samples": {
      "post": {
        "summary": "Upload audio sample for voice cloning",
        "description": "Upload audio sample for voice cloning",
        "operationId": "AddVoiceSample",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "audio": {
                    "description": "Audio file (mp3, wav, ogg, m4a)",
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {
                    "description": "Name for the sample",
                    "type": "string"
                  }
                },
                "required": [
                  "audio"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSampleResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "FormData": {
              "fields": [
                {
                  "description": "Audio file (mp3, wav, ogg, m4a)",
                  "kind": {
                    "File": {
                      "accept": [
                        "audio/*"
                      ]
                    }
                  },
                  "name": "audio",
                  "required": true
                },
                {
                  "description": "Name for the sample",
                  "kind": "Text",
                  "name": "name",
                  "required": false
                }
              ]
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "AddSampleResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/shared-voices": {
      "get": {
        "summary": "Lists voices from the public library",
        "description": "Lists voices from the public library",
        "operationId": "ListSharedVoices",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSharedVoicesResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListSharedVoicesResponse"
            }
          }
        }
      }
    },
    "/v1/voices/add/{public_user_id}/{voice_id}": {
      "post": {
        "summary": "Adds a shared voice to your library",
        "description": "Adds a shared voice to your library",
        "operationId": "AddSharedVoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSharedVoiceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSharedVoiceResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "AddSharedVoiceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "AddSharedVoiceResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "public_user_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/pvc": {
      "post": {
        "summary": "Creates a professional voice clone",
        "description": "Creates a professional voice clone",
        "operationId": "CreatePvcVoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePvcVoiceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSharedVoiceResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreatePvcVoiceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "AddSharedVoiceResponse"
            }
          }
        }
      }
    },
    "/v1/voices/pvc/{voice_id}": {
      "post": {
        "summary": "Updates a PVC voice",
        "description": "Updates a PVC voice",
        "operationId": "UpdatePvcVoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePvcVoiceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreatePvcVoiceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/voices/pvc/{voice_id}/train": {
      "post": {
        "summary": "Starts training a PVC voice",
        "description": "Starts training a PVC voice",
        "operationId": "TrainPvcVoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainPvcVoiceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "TrainPvcVoiceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "voice_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/sound-generation": {
      "post": {
        "summary": "Generates a sound effect from text",
        "description": "Generates a sound effect from text",
        "operationId": "CreateSoundEffect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSoundEffectBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateSoundEffectBody"
            }
          },
          "response": "Binary"
        }
      }
    },
    "/v1/models": {
      "get": {
        "summary": "Lists all available models",
        "description": "Lists all available models",
        "operationId": "ListModels",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<ModelInfo>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<ModelInfo>"
            }
          }
        }
      }
    },
    "/v1/single-use-token/{token_type}": {
      "post": {
        "summary": "Creates a single-use token for WebSocket auth",
        "description": "Creates a single-use token for WebSocket auth",
        "operationId": "CreateSingleUseToken",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleUseTokenResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "SingleUseTokenResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "token_type",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/history": {
      "get": {
        "summary": "Gets generated items history",
        "description": "Gets generated items history",
        "operationId": "GetHistory",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHistoryResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "GetHistoryResponse"
            }
          }
        }
      }
    },
    "/v1/history/{history_item_id}": {
      "get": {
        "summary": "Gets a specific history item",
        "description": "Gets a specific history item",
        "operationId": "GetHistoryItem",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeechHistoryItemResponseModel"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "SpeechHistoryItemResponseModel"
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes a history item",
        "description": "Deletes a history item",
        "operationId": "DeleteHistoryItem",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "history_item_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/history/{history_item_id}/audio": {
      "get": {
        "summary": "Gets audio for a history item",
        "description": "Gets audio for a history item",
        "operationId": "GetHistoryItemAudio",
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": "Binary"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "history_item_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/history/download": {
      "post": {
        "summary": "Downloads multiple history items as ZIP",
        "description": "Downloads multiple history items as ZIP",
        "operationId": "DownloadHistoryItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadHistoryBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "DownloadHistoryBody"
            }
          },
          "response": "Binary"
        }
      }
    },
    "/v1/usage/character-stats": {
      "get": {
        "summary": "Gets usage statistics",
        "description": "Gets usage statistics",
        "operationId": "GetUsageStats",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageStatsResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "UsageStatsResponse"
            }
          }
        }
      }
    },
    "/v1/user": {
      "get": {
        "summary": "Gets current user information",
        "description": "Gets current user information",
        "operationId": "GetUser",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "UserResponse"
            }
          }
        }
      }
    },
    "/v1/user/subscription": {
      "get": {
        "summary": "Gets user subscription information",
        "description": "Gets user subscription information",
        "operationId": "GetUserSubscription",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionModel"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "SubscriptionModel"
            }
          }
        }
      }
    },
    "/v1/workspace/resources/{resource_id}": {
      "get": {
        "summary": "Gets resource information",
        "description": "Gets resource information",
        "operationId": "GetResource",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ResourceResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "resource_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/workspace/resources/{resource_id}/share": {
      "post": {
        "summary": "Shares a resource",
        "description": "Shares a resource",
        "operationId": "ShareResource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareResourceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "ShareResourceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "resource_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/workspace/resources/{resource_id}/unshare": {
      "post": {
        "summary": "Removes sharing for a resource",
        "description": "Removes sharing for a resource",
        "operationId": "UnshareResource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnshareResourceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "UnshareResourceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "resource_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/workspace/resources/{resource_id}/copy-to-workspace": {
      "post": {
        "summary": "Copies a resource to another workspace",
        "description": "Copies a resource to another workspace",
        "operationId": "CopyResourceToWorkspace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyResourceBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CopyResourceBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "resource_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/service-accounts": {
      "get": {
        "summary": "Lists service accounts",
        "description": "Lists service accounts",
        "operationId": "ListServiceAccounts",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServiceAccountsResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListServiceAccountsResponse"
            }
          }
        }
      }
    },
    "/v1/service-accounts/{service_account_user_id}/api-keys": {
      "get": {
        "summary": "Lists API keys for a service account",
        "description": "Lists API keys for a service account",
        "operationId": "ListServiceAccountApiKeys",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApiKeysResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListApiKeysResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Creates an API key for a service account",
        "description": "Creates an API key for a service account",
        "operationId": "CreateApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateApiKeyBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "CreateApiKeyResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "service_account_user_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/service-accounts/{service_account_user_id}/api-keys/{api_key_id}": {
      "delete": {
        "summary": "Deletes an API key",
        "description": "Deletes an API key",
        "operationId": "DeleteApiKey",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Updates an API key",
        "description": "Updates an API key",
        "operationId": "UpdateApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiKeyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "UpdateApiKeyBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "service_account_user_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "api_key_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/v1/workspace/webhooks": {
      "get": {
        "summary": "Lists webhooks",
        "description": "Lists webhooks",
        "operationId": "ListWebhooks",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhooksResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListWebhooksResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Creates a webhook",
        "description": "Creates a webhook",
        "operationId": "CreateWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateWebhookBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "CreateWebhookResponse"
            }
          }
        }
      }
    },
    "/v1/workspace/webhooks/{webhook_id}": {
      "delete": {
        "summary": "Deletes a webhook",
        "description": "Deletes a webhook",
        "operationId": "DeleteWebhook",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Updates a webhook",
        "description": "Updates a webhook",
        "operationId": "UpdateWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "UpdateWebhookBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "webhook_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "CreateSpeechBody": {
        "title": "CreateSpeechBody",
        "type": "object",
        "properties": {
          "apply_language_text_normalization": {
            "type": "boolean"
          },
          "apply_text_normalization": {},
          "language_code": {
            "type": "string"
          },
          "model_id": {
            "type": "string"
          },
          "next_request_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "next_text": {
            "type": "string"
          },
          "previous_request_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "previous_text": {
            "type": "string"
          },
          "pronunciation_dictionary_locators": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PronunciationDictionaryLocator"
                }
              ]
            }
          },
          "seed": {
            "type": "integer",
            "format": "uint32"
          },
          "text": {
            "type": "string"
          },
          "voice_settings": {}
        },
        "required": [
          "text"
        ]
      },
      "PronunciationDictionaryLocator": {
        "type": "object",
        "properties": {
          "pronunciation_dictionary_id": {
            "type": "string"
          },
          "version_id": {
            "type": "string"
          }
        },
        "required": [
          "pronunciation_dictionary_id",
          "version_id"
        ]
      },
      "TextNormalization": {
        "type": "string"
      },
      "VoiceSettings": {
        "title": "VoiceSettings",
        "type": "object",
        "properties": {
          "similarity_boost": {
            "type": "number",
            "format": "double"
          },
          "speed": {
            "type": "number",
            "format": "double"
          },
          "stability": {
            "type": "number",
            "format": "double"
          },
          "style": {
            "type": "number",
            "format": "double"
          },
          "use_speaker_boost": {
            "type": "boolean"
          }
        }
      },
      "AddSharedVoiceBody": {
        "title": "AddSharedVoiceBody",
        "type": "object",
        "properties": {
          "new_name": {
            "type": "string"
          }
        },
        "required": [
          "new_name"
        ]
      },
      "CreatePvcVoiceBody": {
        "title": "CreatePvcVoiceBody",
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "labels": {
            "type": "object"
          },
          "language": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "language"
        ]
      },
      "TrainPvcVoiceBody": {
        "title": "TrainPvcVoiceBody",
        "type": "object",
        "properties": {
          "model_id": {
            "type": "string"
          }
        }
      },
      "CreateSoundEffectBody": {
        "title": "CreateSoundEffectBody",
        "type": "object",
        "properties": {
          "duration_seconds": {
            "type": "number",
            "format": "double"
          },
          "loop": {
            "type": "boolean"
          },
          "model_id": {
            "type": "string"
          },
          "prompt_influence": {
            "type": "number",
            "format": "double"
          },
          "text": {
            "type": "string"
          }
        },
        "required": [
          "text"
        ]
      },
      "DownloadHistoryBody": {
        "title": "DownloadHistoryBody",
        "type": "object",
        "properties": {
          "history_item_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "output_format": {
            "type": "string"
          }
        },
        "required": [
          "history_item_ids"
        ]
      },
      "ShareResourceBody": {
        "title": "ShareResourceBody",
        "type": "object",
        "properties": {
          "group_id": {
            "type": "string"
          },
          "resource_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResourceType"
              }
            ]
          },
          "role": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessLevel"
              }
            ]
          },
          "user_email": {
            "type": "string"
          },
          "workspace_api_key_id": {
            "type": "string"
          }
        },
        "required": [
          "role",
          "resource_type"
        ]
      },
      "AccessLevel": {
        "type": "string"
      },
      "ResourceType": {
        "type": "string"
      },
      "UnshareResourceBody": {
        "title": "UnshareResourceBody",
        "type": "object",
        "properties": {
          "group_id": {
            "type": "string"
          },
          "resource_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResourceType"
              }
            ]
          },
          "user_email": {
            "type": "string"
          },
          "workspace_api_key_id": {
            "type": "string"
          }
        },
        "required": [
          "resource_type"
        ]
      },
      "CopyResourceBody": {
        "title": "CopyResourceBody",
        "type": "object",
        "properties": {
          "resource_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResourceType"
              }
            ]
          },
          "target_user_id": {
            "type": "string"
          }
        },
        "required": [
          "resource_type",
          "target_user_id"
        ]
      },
      "CreateApiKeyBody": {
        "title": "CreateApiKeyBody",
        "type": "object",
        "properties": {
          "character_limit": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "permissions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PermissionSpec"
              }
            ]
          }
        },
        "required": [
          "name",
          "permissions"
        ]
      },
      "ApiPermission": {
        "type": "string"
      },
      "PermissionSpec": {},
      "UpdateApiKeyBody": {
        "title": "UpdateApiKeyBody",
        "type": "object",
        "properties": {
          "character_limit": {
            "type": "integer",
            "format": "int64"
          },
          "is_enabled": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "permissions": {}
        }
      },
      "CreateWebhookBody": {
        "title": "CreateWebhookBody",
        "type": "object",
        "properties": {
          "settings": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WebhookSettings"
              }
            ]
          }
        },
        "required": [
          "settings"
        ]
      },
      "WebhookAuthType": {
        "type": "string"
      },
      "WebhookSettings": {
        "type": "object",
        "properties": {
          "auth_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WebhookAuthType"
              }
            ]
          },
          "name": {
            "type": "string"
          },
          "webhook_url": {
            "type": "string"
          }
        },
        "required": [
          "auth_type",
          "webhook_url"
        ]
      },
      "UpdateWebhookBody": {
        "title": "UpdateWebhookBody",
        "type": "object",
        "properties": {
          "is_disabled": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "SpeechWithTimestampsResponse": {
        "title": "SpeechWithTimestampsResponse",
        "type": "object",
        "properties": {
          "alignment": {},
          "audioBase64": {
            "type": "string"
          },
          "normalizedAlignment": {}
        },
        "required": [
          "audioBase64"
        ]
      },
      "HttpAlignment": {
        "type": "object",
        "properties": {
          "characterEndTimesSeconds": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "double"
            }
          },
          "characterStartTimesSeconds": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "double"
            }
          },
          "characters": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "characters",
          "characterStartTimesSeconds",
          "characterEndTimesSeconds"
        ]
      },
      "ListVoicesResponse": {
        "title": "ListVoicesResponse",
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "next_page_token": {
            "type": "string"
          },
          "total_count": {
            "type": "integer",
            "format": "int64"
          },
          "voices": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/VoiceResponseModel"
                }
              ]
            }
          }
        },
        "required": [
          "voices"
        ]
      },
      "FineTuningModel": {
        "type": "object",
        "properties": {
          "dataset_duration_seconds": {},
          "is_allowed_to_fine_tune": {},
          "language": {},
          "manual_verification_requested": {},
          "max_verification_attempts": {},
          "message": {},
          "model_id": {},
          "next_max_verification_attempts_reset_unix_ms": {},
          "progress": {},
          "state": {},
          "verification_attempts_count": {},
          "verification_failures": {},
          "verification_required": {}
        }
      },
      "FineTuningState": {
        "type": "string"
      },
      "LanguageModel": {
        "type": "object",
        "properties": {
          "accent": {},
          "language_id": {
            "type": "string"
          },
          "locale": {},
          "model_id": {},
          "name": {
            "type": "string"
          },
          "preview_url": {}
        },
        "required": [
          "language_id"
        ]
      },
      "SafetyControl": {
        "type": "string"
      },
      "SampleModel": {
        "type": "object",
        "properties": {
          "file_name": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "mime_type": {
            "type": "string"
          },
          "sample_id": {
            "type": "string"
          },
          "size_bytes": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "sample_id",
          "file_name",
          "mime_type",
          "size_bytes",
          "hash"
        ]
      },
      "SharingModel": {
        "type": "object",
        "properties": {
          "cloned_by_count": {},
          "is_public": {
            "type": "boolean"
          },
          "public_owner_id": {}
        }
      },
      "VoiceCategory": {
        "type": "string"
      },
      "VoiceResponseModel": {
        "title": "VoiceResponseModel",
        "type": "object",
        "properties": {
          "available_for_tiers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "category": {},
          "collection_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at_unix": {
            "type": "integer",
            "format": "int64"
          },
          "description": {
            "type": "string"
          },
          "favorited_at_unix": {
            "type": "integer",
            "format": "int64"
          },
          "fine_tuning": {},
          "high_quality_base_model_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_legacy": {
            "type": "boolean"
          },
          "is_mixed": {
            "type": "boolean"
          },
          "is_owner": {
            "type": "boolean"
          },
          "labels": {
            "type": "object"
          },
          "name": {
            "type": "string"
          },
          "permission_on_resource": {
            "type": "string"
          },
          "preview_url": {
            "type": "string"
          },
          "safety_control": {},
          "samples": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SampleModel"
                }
              ]
            }
          },
          "settings": {},
          "sharing": {},
          "verified_languages": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LanguageModel"
                }
              ]
            }
          },
          "voice_id": {
            "type": "string"
          },
          "voice_verification": {}
        },
        "required": [
          "voice_id",
          "name"
        ]
      },
      "VoiceVerificationModel": {
        "type": "object",
        "properties": {
          "is_verified": {
            "type": "boolean"
          },
          "requires_verification": {
            "type": "boolean"
          }
        },
        "required": [
          "requires_verification",
          "is_verified"
        ]
      },
      "StatusResponse": {
        "title": "StatusResponse",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "AddSampleResponse": {
        "title": "AddSampleResponse",
        "type": "object",
        "properties": {
          "sample_id": {
            "type": "string"
          }
        },
        "required": [
          "sample_id"
        ]
      },
      "ListSharedVoicesResponse": {
        "title": "ListSharedVoicesResponse",
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "last_sort_id": {
            "type": "string"
          },
          "voices": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LibraryVoiceResponseModel"
                }
              ]
            }
          }
        },
        "required": [
          "voices",
          "has_more"
        ]
      },
      "LibraryVoiceResponseModel": {
        "type": "object",
        "properties": {
          "category": {},
          "description": {},
          "name": {
            "type": "string"
          },
          "public_owner_id": {},
          "voice_id": {
            "type": "string"
          }
        },
        "required": [
          "voice_id",
          "name"
        ]
      },
      "AddSharedVoiceResponse": {
        "title": "AddSharedVoiceResponse",
        "type": "object",
        "properties": {
          "voice_id": {
            "type": "string"
          }
        },
        "required": [
          "voice_id"
        ]
      },
      "Vec<ModelInfo>": {
        "title": "Array_of_ModelInfo",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/ModelInfo"
            }
          ]
        }
      },
      "ModelInfo": {
        "type": "object",
        "properties": {
          "can_be_finetuned": {
            "type": "boolean"
          },
          "can_do_text_to_speech": {
            "type": "boolean"
          },
          "can_do_voice_conversion": {
            "type": "boolean"
          },
          "can_use_speaker_boost": {
            "type": "boolean"
          },
          "can_use_style": {
            "type": "boolean"
          },
          "concurrency_group": {},
          "description": {
            "type": "string"
          },
          "languages": {},
          "max_characters_request_free_user": {},
          "max_characters_request_subscribed_user": {},
          "maximum_text_length_per_request": {},
          "model_id": {
            "type": "string"
          },
          "model_rates": {},
          "name": {
            "type": "string"
          },
          "requires_alpha_access": {
            "type": "boolean"
          },
          "serves_pro_voices": {
            "type": "boolean"
          },
          "token_cost_factor": {}
        },
        "required": [
          "model_id",
          "name",
          "description"
        ]
      },
      "ModelRates": {
        "type": "object",
        "properties": {
          "character_cost_multiplier": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "character_cost_multiplier"
        ]
      },
      "SingleUseTokenResponse": {
        "title": "SingleUseTokenResponse",
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "required": [
          "token"
        ]
      },
      "GetHistoryResponse": {
        "title": "GetHistoryResponse",
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "history": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SpeechHistoryItemResponseModel"
                }
              ]
            }
          },
          "last_history_item_id": {
            "type": "string"
          },
          "scanned_until": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "history",
          "has_more"
        ]
      },
      "AlignmentModel": {
        "type": "object",
        "properties": {
          "character_end_times_seconds": {},
          "character_start_times_seconds": {},
          "characters": {}
        }
      },
      "FeedbackModel": {
        "type": "object",
        "properties": {
          "feedback": {},
          "thumbs_up": {}
        }
      },
      "HistorySource": {
        "type": "string"
      },
      "SpeechHistoryItemResponseModel": {
        "title": "SpeechHistoryItemResponseModel",
        "type": "object",
        "properties": {
          "alignments": {},
          "content_type": {
            "type": "string"
          },
          "date_unix": {
            "type": "integer",
            "format": "int64"
          },
          "feedback": {},
          "history_item_id": {
            "type": "string"
          },
          "model_id": {
            "type": "string"
          },
          "source": {},
          "state": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "voice_category": {},
          "voice_id": {
            "type": "string"
          },
          "voice_name": {
            "type": "string"
          }
        },
        "required": [
          "history_item_id",
          "voice_id",
          "date_unix"
        ]
      },
      "UsageStatsResponse": {
        "title": "UsageStatsResponse",
        "type": "object",
        "properties": {
          "time": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "usage": {
            "type": "object"
          }
        },
        "required": [
          "time",
          "usage"
        ]
      },
      "UserResponse": {
        "title": "UserResponse",
        "type": "object",
        "properties": {
          "created_at": {
            "type": "integer",
            "format": "int64"
          },
          "first_name": {
            "type": "string"
          },
          "is_new_user": {
            "type": "boolean"
          },
          "is_onboarding_completed": {
            "type": "boolean"
          },
          "subscription": {},
          "user_id": {
            "type": "string"
          },
          "xi_api_key": {
            "type": "string"
          }
        },
        "required": [
          "user_id"
        ]
      },
      "BillingPeriod": {
        "type": "string"
      },
      "Currency": {
        "type": "string"
      },
      "InvoiceModel": {
        "type": "object",
        "properties": {
          "amount_due": {},
          "currency": {},
          "due_date_unix": {}
        }
      },
      "SubscriptionModel": {
        "title": "SubscriptionModel",
        "type": "object",
        "properties": {
          "billing_period": {},
          "character_count": {
            "type": "integer",
            "format": "int64"
          },
          "character_limit": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {},
          "max_character_limit_extension": {
            "type": "integer",
            "format": "int64"
          },
          "next_invoice": {},
          "professional_voice_limit": {
            "type": "integer",
            "format": "int64"
          },
          "professional_voice_slots_used": {
            "type": "integer",
            "format": "int64"
          },
          "status": {},
          "tier": {
            "type": "string"
          },
          "voice_limit": {
            "type": "integer",
            "format": "int64"
          },
          "voice_slots_used": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "tier",
          "character_count",
          "character_limit"
        ]
      },
      "SubscriptionStatus": {
        "type": "string"
      },
      "ResourceResponse": {
        "title": "ResourceResponse",
        "type": "object",
        "properties": {
          "anonymous_access_level_override": {},
          "creator_user_id": {
            "type": "string"
          },
          "resource_id": {
            "type": "string"
          },
          "resource_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResourceType"
              }
            ]
          },
          "role_to_group_ids": {
            "type": "object"
          },
          "share_options": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ShareOptionModel"
                }
              ]
            }
          }
        },
        "required": [
          "resource_id",
          "resource_type"
        ]
      },
      "ShareOptionModel": {
        "type": "object",
        "properties": {
          "group_id": {},
          "role": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessLevel"
              }
            ]
          },
          "user_email": {}
        },
        "required": [
          "role"
        ]
      },
      "ListServiceAccountsResponse": {
        "title": "ListServiceAccountsResponse",
        "type": "object",
        "properties": {
          "service-accounts": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ServiceAccountModel"
                }
              ]
            }
          }
        },
        "required": [
          "service-accounts"
        ]
      },
      "ApiKeyModel": {
        "type": "object",
        "properties": {
          "character_count": {},
          "character_limit": {},
          "created_at_unix": {},
          "hint": {},
          "is_disabled": {
            "type": "boolean"
          },
          "key_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "permissions": {},
          "service_account_user_id": {}
        },
        "required": [
          "name",
          "key_id"
        ]
      },
      "ServiceAccountModel": {
        "type": "object",
        "properties": {
          "api-keys": {},
          "created_at_unix": {},
          "name": {
            "type": "string"
          },
          "service_account_user_id": {
            "type": "string"
          }
        },
        "required": [
          "service_account_user_id",
          "name"
        ]
      },
      "ListApiKeysResponse": {
        "title": "ListApiKeysResponse",
        "type": "object",
        "properties": {
          "api-keys": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ApiKeyModel"
                }
              ]
            }
          }
        },
        "required": [
          "api-keys"
        ]
      },
      "CreateApiKeyResponse": {
        "title": "CreateApiKeyResponse",
        "type": "object",
        "properties": {
          "key-id": {
            "type": "string"
          },
          "xi-api-key": {
            "type": "string"
          }
        },
        "required": [
          "xi-api-key",
          "key-id"
        ]
      },
      "ListWebhooksResponse": {
        "title": "ListWebhooksResponse",
        "type": "object",
        "properties": {
          "webhooks": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WebhookModel"
                }
              ]
            }
          }
        },
        "required": [
          "webhooks"
        ]
      },
      "ProductModel": {
        "type": "object",
        "properties": {
          "name": {},
          "product_id": {}
        }
      },
      "WebhookModel": {
        "type": "object",
        "properties": {
          "auth_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WebhookAuthType"
              }
            ]
          },
          "created_at_unix": {
            "type": "integer",
            "format": "int64"
          },
          "is_auto_disabled": {
            "type": "boolean"
          },
          "is_disabled": {
            "type": "boolean"
          },
          "most_recent_failure_error_code": {},
          "most_recent_failure_timestamp": {},
          "name": {
            "type": "string"
          },
          "usage": {},
          "webhook_id": {
            "type": "string"
          },
          "webhook_url": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "webhook_id",
          "webhook_url",
          "created_at_unix",
          "auth_type"
        ]
      },
      "CreateWebhookResponse": {
        "title": "CreateWebhookResponse",
        "type": "object",
        "properties": {
          "webhook_id": {
            "type": "string"
          },
          "webhook_secret": {
            "type": "string"
          }
        },
        "required": [
          "webhook_id"
        ]
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "xi-api-key",
        "description": "API Key authentication"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "externalDocs": {
    "description": "API Documentation",
    "url": "https://elevenlabs.io/docs/api-reference"
  },
  "x-schematic": {
    "env_mapping": {
      "api_key": {
        "header": "xi-api-key",
        "names": {
          "names": [
            "ELEVEN_LABS_API_KEY",
            "ELEVENLABS_API_KEY"
          ]
        }
      },
      "basic_pass": null,
      "basic_user": null,
      "bearer_token": null
    }
  },
  "x-schematic-grouped-from": [
    "ElevenLabs"
  ]
}