{
  "openapi": "3.0.3",
  "info": {
    "title": "gitlab",
    "description": "GitLab REST API v4 for repository, MR, issue, and release workflows",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://gitlab.com/api/v4",
      "description": "GitLab API Server"
    }
  ],
  "paths": {
    "/projects/{id}/repository/tree": {
      "get": {
        "summary": "List repository tree recursively (files and directories)",
        "description": "List repository tree recursively (files and directories)",
        "operationId": "ListRepositoryTree",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-indexed, default: 1)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Items per page (default: 100, max: 100)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "recursive",
            "description": "Include files from subdirectories recursively",
            "schema": {
              "type": "boolean"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "git_ref",
            "description": "Branch, tag, or commit SHA to list tree for",
            "schema": {
              "type": "string"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "path",
            "description": "Subdirectory path to list",
            "schema": {
              "type": "string"
            },
            "explode": false,
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<TreeItem>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<TreeItem>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/repository/files/{file_path}?ref={git_ref}": {
      "get": {
        "summary": "Get file content (Base64 encoded, provide git_ref for branch/tag)",
        "description": "Get file content (Base64 encoded, provide git_ref for branch/tag)",
        "operationId": "GetRepositoryFile",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileContent"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "FileContent"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "file_path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "git_ref",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}": {
      "get": {
        "summary": "Get project metadata (use URL-encoded path or numeric ID)",
        "description": "Get project metadata (use URL-encoded path or numeric ID)",
        "operationId": "GetProject",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Project"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/groups/{id}/projects": {
      "get": {
        "summary": "List projects in a group",
        "description": "List projects in a group",
        "operationId": "ListGroupProjects",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-indexed, default: 1)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Items per page (default: 100, max: 100)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "archived",
            "description": "Filter by archived status",
            "schema": {
              "type": "boolean"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "visibility",
            "description": "Filter by visibility level",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "internal",
                "private"
              ]
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "order_by",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "path",
                "created_at",
                "updated_at",
                "last_activity_at"
              ]
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "include_subgroups",
            "description": "Include projects from subgroups",
            "schema": {
              "type": "boolean"
            },
            "explode": false,
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<Project>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<Project>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/merge_requests": {
      "get": {
        "summary": "List merge requests with metadata",
        "description": "List merge requests with metadata",
        "operationId": "ListMergeRequests",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-indexed, default: 1)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Items per page (default: 100, max: 100)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "state",
            "description": "Filter by merge request state",
            "schema": {
              "type": "string",
              "enum": [
                "opened",
                "closed",
                "merged",
                "all"
              ]
            },
            "explode": false,
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<MergeRequest>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<MergeRequest>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/merge_requests/{merge_request_iid}": {
      "get": {
        "summary": "Get a single merge request by IID",
        "description": "Get a single merge request by IID",
        "operationId": "GetMergeRequest",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergeRequest"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "MergeRequest"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "merge_request_iid",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/merge_requests/{merge_request_iid}/commits": {
      "get": {
        "summary": "List commits in a merge request",
        "description": "List commits in a merge request",
        "operationId": "ListMergeRequestCommits",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-indexed, default: 1)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Items per page (default: 100, max: 100)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<Commit>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<Commit>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "merge_request_iid",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/merge_requests/{merge_request_iid}/changes": {
      "get": {
        "summary": "Get merge request with file changes/diffs",
        "description": "Get merge request with file changes/diffs",
        "operationId": "ListMergeRequestChanges",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergeRequestChanges"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "MergeRequestChanges"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "merge_request_iid",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/issues": {
      "get": {
        "summary": "List issues",
        "description": "List issues",
        "operationId": "ListIssues",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-indexed, default: 1)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Items per page (default: 100, max: 100)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "state",
            "description": "Filter by issue state",
            "schema": {
              "type": "string",
              "enum": [
                "opened",
                "closed",
                "all"
              ]
            },
            "explode": false,
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<Issue>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<Issue>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/issues/{issue_iid}": {
      "get": {
        "summary": "Get a single issue by IID",
        "description": "Get a single issue by IID",
        "operationId": "GetIssue",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Issue"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Issue"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "issue_iid",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/issues/{issue_iid}/notes": {
      "get": {
        "summary": "List comments/notes on an issue",
        "description": "List comments/notes on an issue",
        "operationId": "ListIssueNotes",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-indexed, default: 1)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Items per page (default: 100, max: 100)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<Note>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<Note>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "issue_iid",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/issues/{issue_iid}/participants": {
      "get": {
        "summary": "List participants on an issue",
        "description": "List participants on an issue",
        "operationId": "ListIssueParticipants",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<User>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<User>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "issue_iid",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/repository/tags": {
      "get": {
        "summary": "List repository tags (check `release` field for release tags)",
        "description": "List repository tags (check `release` field for release tags)",
        "operationId": "ListTags",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-indexed, default: 1)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Items per page (default: 100, max: 100)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<Tag>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<Tag>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/repository/tags/{tag_name}": {
      "get": {
        "summary": "Get a single tag by name",
        "description": "Get a single tag by name",
        "operationId": "GetTag",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Tag"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "tag_name",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/releases": {
      "get": {
        "summary": "List releases",
        "description": "List releases",
        "operationId": "ListReleases",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-indexed, default: 1)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Items per page (default: 100, max: 100)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<Release>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<Release>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/releases/{tag_name}": {
      "get": {
        "summary": "Get a single release by tag name",
        "description": "Get a single release by tag name",
        "operationId": "GetRelease",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Release"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Release"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "tag_name",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/releases/permalink/latest": {
      "get": {
        "summary": "Get the latest release",
        "description": "Get the latest release",
        "operationId": "GetLatestRelease",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Release"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Release"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/projects/{id}/pipelines": {
      "get": {
        "summary": "List CI/CD pipelines for a project",
        "description": "List CI/CD pipelines for a project",
        "operationId": "ListProjectPipelines",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number (1-indexed, default: 1)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Items per page (default: 100, max: 100)",
            "schema": {
              "type": "integer"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter by pipeline status",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "waiting_for_resource",
                "preparing",
                "pending",
                "running",
                "success",
                "failed",
                "canceled",
                "skipped",
                "manual",
                "scheduled"
              ]
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "source",
            "description": "Filter by pipeline source (e.g., push, merge_request_event, schedule)",
            "schema": {
              "type": "string"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "git_ref",
            "description": "Filter by branch or tag name",
            "schema": {
              "type": "string"
            },
            "explode": false,
            "style": "form"
          },
          {
            "in": "query",
            "name": "sha",
            "description": "Filter by commit SHA",
            "schema": {
              "type": "string"
            },
            "explode": false,
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<Pipeline>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<Pipeline>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "TreeItem": {
        "title": "TreeItem",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "path"
        ]
      },
      "Vec<TreeItem>": {
        "title": "Array_of_TreeItem",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/TreeItem"
            }
          ]
        }
      },
      "FileContent": {
        "title": "FileContent",
        "type": "object",
        "properties": {
          "blob_id": {
            "type": "string"
          },
          "commit_id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "content_sha256": {
            "type": "string"
          },
          "encoding": {
            "type": "string"
          },
          "file_name": {
            "type": "string"
          },
          "file_path": {
            "type": "string"
          },
          "last_commit_id": {
            "type": "string"
          },
          "ref": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "format": "uint64"
          }
        },
        "required": [
          "file_name",
          "file_path",
          "size",
          "encoding",
          "content",
          "ref",
          "blob_id",
          "commit_id"
        ]
      },
      "MergeRequest": {
        "title": "MergeRequest",
        "type": "object",
        "properties": {
          "assignee": {},
          "assignees": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/User"
                }
              ]
            }
          },
          "author": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ]
          },
          "changes_count": {
            "type": "string"
          },
          "closed_at": {
            "type": "string"
          },
          "closed_by": {},
          "created_at": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "downvotes": {
            "type": "integer",
            "format": "uint64"
          },
          "draft": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "format": "uint64"
          },
          "iid": {
            "type": "integer",
            "format": "uint64"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "merge_commit_sha": {
            "type": "string"
          },
          "merge_status": {
            "type": "string"
          },
          "merge_when_pipeline_succeeds": {
            "type": "boolean"
          },
          "merged_at": {
            "type": "string"
          },
          "merged_by": {},
          "milestone": {},
          "project_id": {
            "type": "integer",
            "format": "uint64"
          },
          "references": {},
          "reviewers": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/User"
                }
              ]
            }
          },
          "sha": {
            "type": "string"
          },
          "source_branch": {
            "type": "string"
          },
          "source_project_id": {
            "type": "integer",
            "format": "uint64"
          },
          "squash": {
            "type": "boolean"
          },
          "squash_commit_sha": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "target_branch": {
            "type": "string"
          },
          "target_project_id": {
            "type": "integer",
            "format": "uint64"
          },
          "time_stats": {},
          "title": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "upvotes": {
            "type": "integer",
            "format": "uint64"
          },
          "user_notes_count": {
            "type": "integer",
            "format": "uint64"
          },
          "web_url": {
            "type": "string"
          },
          "work_in_progress": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "iid",
          "project_id",
          "title",
          "state",
          "created_at",
          "updated_at",
          "target_branch",
          "source_branch",
          "author"
        ]
      },
      "Milestone": {
        "type": "object",
        "properties": {
          "created_at": {},
          "description": {},
          "due_date": {},
          "expired": {},
          "id": {
            "type": "integer",
            "format": "uint64"
          },
          "iid": {
            "type": "integer",
            "format": "uint64"
          },
          "project_id": {},
          "start_date": {},
          "state": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "updated_at": {},
          "web_url": {}
        },
        "required": [
          "id",
          "iid",
          "title",
          "state"
        ]
      },
      "References": {
        "type": "object",
        "properties": {
          "full": {
            "type": "string"
          },
          "relative": {
            "type": "string"
          },
          "short": {
            "type": "string"
          }
        },
        "required": [
          "short",
          "relative",
          "full"
        ]
      },
      "TimeStats": {
        "type": "object",
        "properties": {
          "human_time_estimate": {},
          "human_total_time_spent": {},
          "time_estimate": {
            "type": "integer",
            "format": "uint64"
          },
          "total_time_spent": {
            "type": "integer",
            "format": "uint64"
          }
        }
      },
      "User": {
        "title": "User",
        "type": "object",
        "properties": {
          "avatar_url": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "uint64"
          },
          "name": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "web_url": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "username"
        ]
      },
      "Vec<MergeRequest>": {
        "title": "Array_of_MergeRequest",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/MergeRequest"
            }
          ]
        }
      },
      "Commit": {
        "title": "Commit",
        "type": "object",
        "properties": {
          "author_email": {
            "type": "string"
          },
          "author_name": {
            "type": "string"
          },
          "authored_date": {
            "type": "string"
          },
          "committed_date": {
            "type": "string"
          },
          "committer_email": {
            "type": "string"
          },
          "committer_name": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "parent_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "short_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "web_url": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "short_id",
          "created_at",
          "title",
          "author_name",
          "author_email"
        ]
      },
      "Vec<Commit>": {
        "title": "Array_of_Commit",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/Commit"
            }
          ]
        }
      },
      "MergeRequestChanges": {
        "title": "MergeRequestChanges",
        "type": "object",
        "properties": {
          "changes": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Diff"
                }
              ]
            }
          },
          "closed_at": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "uint64"
          },
          "iid": {
            "type": "integer",
            "format": "uint64"
          },
          "merged_at": {
            "type": "string"
          },
          "project_id": {
            "type": "integer",
            "format": "uint64"
          },
          "source_branch": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "target_branch": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "iid",
          "project_id",
          "title",
          "state",
          "target_branch",
          "source_branch"
        ]
      },
      "Diff": {
        "type": "object",
        "properties": {
          "a_mode": {},
          "b_mode": {},
          "deleted_file": {
            "type": "boolean"
          },
          "diff": {},
          "new_file": {
            "type": "boolean"
          },
          "new_path": {
            "type": "string"
          },
          "old_path": {
            "type": "string"
          },
          "renamed_file": {
            "type": "boolean"
          }
        },
        "required": [
          "old_path",
          "new_path"
        ]
      },
      "Issue": {
        "title": "Issue",
        "type": "object",
        "properties": {
          "assignee": {},
          "assignees": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/User"
                }
              ]
            }
          },
          "author": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ]
          },
          "closed_at": {
            "type": "string"
          },
          "closed_by": {},
          "confidential": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "discussion_locked": {
            "type": "boolean"
          },
          "downvotes": {
            "type": "integer",
            "format": "uint64"
          },
          "due_date": {
            "type": "string"
          },
          "has_tasks": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "format": "uint64"
          },
          "iid": {
            "type": "integer",
            "format": "uint64"
          },
          "issue_type": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "milestone": {},
          "moved_to_id": {
            "type": "integer",
            "format": "uint64"
          },
          "project_id": {
            "type": "integer",
            "format": "uint64"
          },
          "references": {},
          "severity": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "task_completion_status": {},
          "task_status": {
            "type": "string"
          },
          "time_stats": {},
          "title": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "upvotes": {
            "type": "integer",
            "format": "uint64"
          },
          "user_notes_count": {
            "type": "integer",
            "format": "uint64"
          },
          "web_url": {
            "type": "string"
          },
          "weight": {
            "type": "integer",
            "format": "uint64"
          }
        },
        "required": [
          "id",
          "iid",
          "project_id",
          "title",
          "state",
          "created_at",
          "updated_at",
          "author"
        ]
      },
      "TaskCompletionStatus": {
        "type": "object",
        "properties": {
          "completed_count": {
            "type": "integer",
            "format": "uint64"
          },
          "count": {
            "type": "integer",
            "format": "uint64"
          }
        }
      },
      "Vec<Issue>": {
        "title": "Array_of_Issue",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/Issue"
            }
          ]
        }
      },
      "Note": {
        "title": "Note",
        "type": "object",
        "properties": {
          "attachment": {
            "type": "string"
          },
          "author": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ]
          },
          "body": {
            "type": "string"
          },
          "confidential": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "uint64"
          },
          "internal": {
            "type": "boolean"
          },
          "noteable_id": {
            "type": "integer",
            "format": "uint64"
          },
          "noteable_type": {
            "type": "string"
          },
          "resolvable": {
            "type": "boolean"
          },
          "resolved": {
            "type": "boolean"
          },
          "resolved_by": {},
          "system": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "body",
          "author",
          "created_at",
          "updated_at"
        ]
      },
      "Vec<Note>": {
        "title": "Array_of_Note",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/Note"
            }
          ]
        }
      },
      "Vec<User>": {
        "title": "Array_of_User",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/User"
            }
          ]
        }
      },
      "Tag": {
        "title": "Tag",
        "type": "object",
        "properties": {
          "commit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TagCommit"
              }
            ]
          },
          "created_at": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "protected": {
            "type": "boolean"
          },
          "release": {},
          "target": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "target",
          "commit"
        ]
      },
      "TagCommit": {
        "type": "object",
        "properties": {
          "author_email": {},
          "author_name": {},
          "authored_date": {},
          "committed_date": {},
          "committer_email": {},
          "committer_name": {},
          "created_at": {},
          "id": {
            "type": "string"
          },
          "message": {},
          "parent_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "short_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "short_id",
          "title"
        ]
      },
      "TagRelease": {
        "type": "object",
        "properties": {
          "description": {},
          "tag_name": {
            "type": "string"
          }
        },
        "required": [
          "tag_name"
        ]
      },
      "Vec<Tag>": {
        "title": "Array_of_Tag",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/Tag"
            }
          ]
        }
      },
      "Release": {
        "title": "Release",
        "type": "object",
        "properties": {
          "_links": {},
          "assets": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ReleaseAssets"
              }
            ]
          },
          "author": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User"
              }
            ]
          },
          "commit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ReleaseCommit"
              }
            ]
          },
          "commit_path": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "description_html": {
            "type": "string"
          },
          "evidences": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ReleaseEvidence"
                }
              ]
            }
          },
          "milestones": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Milestone"
                }
              ]
            }
          },
          "name": {
            "type": "string"
          },
          "released_at": {
            "type": "string"
          },
          "tag_name": {
            "type": "string"
          },
          "tag_path": {
            "type": "string"
          },
          "upcoming_release": {
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "tag_name",
          "created_at",
          "released_at",
          "author",
          "commit",
          "assets"
        ]
      },
      "ReleaseAssets": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "uint64"
          },
          "links": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ReleaseLink"
                }
              ]
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ReleaseSource"
                }
              ]
            }
          }
        }
      },
      "ReleaseCommit": {
        "type": "object",
        "properties": {
          "author_email": {},
          "author_name": {},
          "authored_date": {},
          "committed_date": {},
          "committer_email": {},
          "committer_name": {},
          "created_at": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "message": {},
          "parent_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "short_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "short_id",
          "title",
          "created_at"
        ]
      },
      "ReleaseEvidence": {
        "type": "object",
        "properties": {
          "collected_at": {
            "type": "string"
          },
          "filepath": {
            "type": "string"
          },
          "sha": {
            "type": "string"
          }
        },
        "required": [
          "sha",
          "filepath",
          "collected_at"
        ]
      },
      "ReleaseLink": {
        "type": "object",
        "properties": {
          "external": {
            "type": "boolean"
          },
          "id": {
            "type": "integer",
            "format": "uint64"
          },
          "link_type": {},
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "url"
        ]
      },
      "ReleaseLinks": {
        "type": "object",
        "properties": {
          "closed_issues_url": {},
          "closed_merge_requests_url": {},
          "edit_url": {},
          "merged_merge_requests_url": {},
          "opened_issues_url": {},
          "opened_merge_requests_url": {},
          "self": {
            "type": "string"
          }
        },
        "required": [
          "self"
        ]
      },
      "ReleaseSource": {
        "type": "object",
        "properties": {
          "format": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "required": [
          "format",
          "url"
        ]
      },
      "Vec<Release>": {
        "title": "Array_of_Release",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/Release"
            }
          ]
        }
      },
      "Project": {
        "title": "Project",
        "type": "object",
        "properties": {
          "archived": {
            "type": "boolean"
          },
          "avatar_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "default_branch": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "empty_repo": {
            "type": "boolean"
          },
          "forks_count": {
            "type": "integer",
            "format": "uint64"
          },
          "http_url_to_repo": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "uint64"
          },
          "issues_enabled": {
            "type": "boolean"
          },
          "last_activity_at": {
            "type": "string"
          },
          "merge_requests_enabled": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "namespace": {},
          "open_issues_count": {
            "type": "integer",
            "format": "uint64"
          },
          "owner": {},
          "path": {
            "type": "string"
          },
          "path_with_namespace": {
            "type": "string"
          },
          "ssh_url_to_repo": {
            "type": "string"
          },
          "star_count": {
            "type": "integer",
            "format": "uint64"
          },
          "topics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "visibility": {
            "type": "string"
          },
          "web_url": {
            "type": "string"
          },
          "wiki_enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "Namespace": {
        "type": "object",
        "properties": {
          "avatar_url": {},
          "full_path": {},
          "id": {
            "type": "integer",
            "format": "uint64"
          },
          "kind": {},
          "name": {},
          "parent_id": {},
          "path": {},
          "web_url": {}
        },
        "required": [
          "id"
        ]
      },
      "Vec<Project>": {
        "title": "Array_of_Project",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/Project"
            }
          ]
        }
      },
      "Pipeline": {
        "title": "Pipeline",
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "uint64"
          },
          "name": {
            "type": "string"
          },
          "project_id": {
            "type": "integer",
            "format": "uint64"
          },
          "ref": {
            "type": "string"
          },
          "sha": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "web_url": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "Vec<Pipeline>": {
        "title": "Array_of_Pipeline",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/Pipeline"
            }
          ]
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "PRIVATE-TOKEN",
        "description": "API Key authentication"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "externalDocs": {
    "description": "API Documentation",
    "url": "https://docs.gitlab.com/api/rest/"
  },
  "x-schematic": {
    "env_mapping": {
      "api_key": {
        "header": "PRIVATE-TOKEN",
        "names": {
          "names": [
            "GITLAB_TOKEN",
            "GITLAB_PRIVATE_TOKEN"
          ]
        }
      },
      "basic_pass": null,
      "basic_user": null,
      "bearer_token": null
    },
    "headers": [
      [
        "User-Agent",
        "schematic-gitlab-client"
      ]
    ],
    "module_path": "gitlab"
  },
  "x-schematic-grouped-from": [
    "GitLab"
  ]
}