{
  "openapi": "3.0.3",
  "info": {
    "title": "huggingface",
    "description": "Hugging Face Hub API for model discovery, dataset management, spaces, and repository operations",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://huggingface.co/api",
      "description": "HuggingFaceHub API Server"
    }
  ],
  "paths": {
    "/models": {
      "get": {
        "summary": "Lists models with optional filtering. Query params: search, author, filter, sort, direction, limit, full, config",
        "description": "Lists models with optional filtering. Query params: search, author, filter, sort, direction, limit, full, config",
        "operationId": "ListModels",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<ModelInfo>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<ModelInfo>"
            }
          }
        }
      }
    },
    "/models/{repo_id}": {
      "get": {
        "summary": "Gets detailed information about a specific model",
        "description": "Gets detailed information about a specific model",
        "operationId": "GetModel",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelInfo"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ModelInfo"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/models/{repo_id}/tree/{revision}": {
      "get": {
        "summary": "Lists files in a model repository at a specific revision",
        "description": "Lists files in a model repository at a specific revision",
        "operationId": "ListModelFiles",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<RepoFile>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<RepoFile>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "revision",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/models/{repo_id}/blob/{revision}/{path}": {
      "get": {
        "summary": "Gets file metadata for a specific file in a model repository",
        "description": "Gets file metadata for a specific file in a model repository",
        "operationId": "GetModelFile",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileMetadata"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "FileMetadata"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "revision",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/models/{repo_id}/commits/{revision}": {
      "get": {
        "summary": "Lists commits for a model repository",
        "description": "Lists commits for a model repository",
        "operationId": "ListModelCommits",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<Commit>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<Commit>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "revision",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/models/{repo_id}/resolve/{revision}/README.md": {
      "get": {
        "summary": "Gets the README file content for a model",
        "description": "Gets the README file content for a model",
        "operationId": "GetModelReadme",
        "responses": {
          "200": {
            "description": "Successful text response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": "Text"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "revision",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/models/{repo_id}/discussions": {
      "get": {
        "summary": "Lists discussions for a model repository",
        "description": "Lists discussions for a model repository",
        "operationId": "ListModelDiscussions",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscussionList"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "DiscussionList"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/models/{repo_id}/resolve/{revision}/model_card.md": {
      "get": {
        "summary": "Gets the model card file content",
        "description": "Gets the model card file content",
        "operationId": "GetModelCard",
        "responses": {
          "200": {
            "description": "Successful text response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": "Text"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "revision",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/datasets": {
      "get": {
        "summary": "Lists datasets with optional filtering. Query params: search, author, filter, sort, direction, limit, full",
        "description": "Lists datasets with optional filtering. Query params: search, author, filter, sort, direction, limit, full",
        "operationId": "ListDatasets",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<DatasetInfo>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<DatasetInfo>"
            }
          }
        }
      }
    },
    "/datasets/{repo_id}": {
      "get": {
        "summary": "Gets detailed information about a specific dataset",
        "description": "Gets detailed information about a specific dataset",
        "operationId": "GetDataset",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetInfo"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "DatasetInfo"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/datasets/{repo_id}/tree/{revision}": {
      "get": {
        "summary": "Lists files in a dataset repository at a specific revision",
        "description": "Lists files in a dataset repository at a specific revision",
        "operationId": "ListDatasetFiles",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<RepoFile>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<RepoFile>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "revision",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/datasets/{repo_id}/blob/{revision}/{path}": {
      "get": {
        "summary": "Gets file metadata for a specific file in a dataset repository",
        "description": "Gets file metadata for a specific file in a dataset repository",
        "operationId": "GetDatasetFile",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileMetadata"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "FileMetadata"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "revision",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/datasets/{repo_id}/commits/{revision}": {
      "get": {
        "summary": "Lists commits for a dataset repository",
        "description": "Lists commits for a dataset repository",
        "operationId": "ListDatasetCommits",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<Commit>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<Commit>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "revision",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/datasets/{repo_id}/resolve/{revision}/README.md": {
      "get": {
        "summary": "Gets the README file content for a dataset",
        "description": "Gets the README file content for a dataset",
        "operationId": "GetDatasetReadme",
        "responses": {
          "200": {
            "description": "Successful text response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": "Text"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "revision",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/spaces": {
      "get": {
        "summary": "Lists spaces with optional filtering. Query params: search, author, filter, sort, direction, limit",
        "description": "Lists spaces with optional filtering. Query params: search, author, filter, sort, direction, limit",
        "operationId": "ListSpaces",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<SpaceInfo>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<SpaceInfo>"
            }
          }
        }
      }
    },
    "/spaces/{repo_id}": {
      "get": {
        "summary": "Gets detailed information about a specific space",
        "description": "Gets detailed information about a specific space",
        "operationId": "GetSpace",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceInfo"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "SpaceInfo"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/spaces/{repo_id}/tree/{revision}": {
      "get": {
        "summary": "Lists files in a space repository at a specific revision",
        "description": "Lists files in a space repository at a specific revision",
        "operationId": "ListSpaceFiles",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<RepoFile>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<RepoFile>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "revision",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/spaces/{repo_id}/blob/{revision}/{path}": {
      "get": {
        "summary": "Gets file metadata for a specific file in a space repository",
        "description": "Gets file metadata for a specific file in a space repository",
        "operationId": "GetSpaceFile",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileMetadata"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "FileMetadata"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "revision",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/repos/create": {
      "post": {
        "summary": "Creates a new repository (model, dataset, or space)",
        "description": "Creates a new repository (model, dataset, or space)",
        "operationId": "CreateRepo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRepoBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepoUrl"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateRepoBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "RepoUrl"
            }
          }
        }
      }
    },
    "/repos/delete": {
      "delete": {
        "summary": "Deletes a repository",
        "description": "Deletes a repository",
        "operationId": "DeleteRepo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRepoBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "DeleteRepoBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      }
    },
    "/repos/{repo_type}/{repo_id}/settings": {
      "put": {
        "summary": "Updates repository settings (visibility, gated access, etc.)",
        "description": "Updates repository settings (visibility, gated access, etc.)",
        "operationId": "UpdateRepoSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRepoSettingsBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "UpdateRepoSettingsBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "repo_type",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "repo_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/repos/move": {
      "post": {
        "summary": "Moves/renames a repository",
        "description": "Moves/renames a repository",
        "operationId": "MoveRepo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveRepoBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "MoveRepoBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "StatusResponse"
            }
          }
        }
      }
    },
    "/whoami-v2": {
      "get": {
        "summary": "Gets information about the authenticated user",
        "description": "Gets information about the authenticated user",
        "operationId": "WhoAmI",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "UserInfo"
            }
          }
        }
      }
    },
    "/users/{username}": {
      "get": {
        "summary": "Gets public information about a user",
        "description": "Gets public information about a user",
        "operationId": "GetUser",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "UserInfo"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "username",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/users/{username}/repos": {
      "get": {
        "summary": "Lists repositories owned by a user",
        "description": "Lists repositories owned by a user",
        "operationId": "ListUserRepos",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<RepoInfo>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<RepoInfo>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "username",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/users/{username}/collections": {
      "get": {
        "summary": "Gets collections created by a user",
        "description": "Gets collections created by a user",
        "operationId": "GetUserCollections",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vec<Collection>"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Vec<Collection>"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "username",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "CreateRepoBody": {
        "title": "CreateRepoBody",
        "description": "Request to create a new repository.",
        "type": "object",
        "properties": {
          "hardware": {
            "description": "Hardware tier for Spaces."
          },
          "name": {
            "description": "Repository name (without org prefix).",
            "type": "string"
          },
          "organization": {
            "description": "Organization to create in (optional, uses user namespace otherwise).",
            "type": "string"
          },
          "private": {
            "description": "Whether the repo should be private.",
            "type": "boolean"
          },
          "sdk": {
            "description": "Whether to create an SDK-specific repo (for Spaces)."
          },
          "secrets": {
            "description": "Secrets for Spaces.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SpaceSecret"
                }
              ]
            }
          },
          "sleepTimeSeconds": {
            "description": "Sleep timeout in seconds (Spaces).",
            "type": "integer",
            "format": "uint64"
          },
          "storage": {
            "description": "Storage tier for Spaces.",
            "type": "string"
          },
          "type": {
            "description": "Repository type."
          },
          "variables": {
            "description": "Environment variables for Spaces.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SpaceVariable"
                }
              ]
            }
          }
        },
        "required": [
          "name"
        ]
      },
      "RepoType": {
        "description": "Repository type on Hugging Face Hub."
      },
      "SpaceHardware": {
        "description": "Space hardware tier."
      },
      "SpaceSdk": {
        "description": "Space SDK type."
      },
      "SpaceSecret": {
        "description": "Space secret configuration.",
        "type": "object",
        "properties": {
          "description": {
            "description": "Description."
          },
          "key": {
            "description": "Secret key name.",
            "type": "string"
          },
          "value": {
            "description": "Secret value."
          }
        },
        "required": [
          "key"
        ]
      },
      "SpaceVariable": {
        "description": "Space environment variable.",
        "type": "object",
        "properties": {
          "description": {
            "description": "Description."
          },
          "key": {
            "description": "Variable key name.",
            "type": "string"
          },
          "value": {
            "description": "Variable value.",
            "type": "string"
          }
        },
        "required": [
          "key",
          "value"
        ]
      },
      "DeleteRepoBody": {
        "title": "DeleteRepoBody",
        "description": "Request to delete a repository.",
        "type": "object",
        "properties": {
          "organization": {
            "description": "Organization (if deleting org repo).",
            "type": "string"
          },
          "repoId": {
            "description": "Repository ID to delete.",
            "type": "string"
          },
          "type": {
            "description": "Repository type."
          }
        },
        "required": [
          "repoId"
        ]
      },
      "MoveRepoBody": {
        "title": "MoveRepoBody",
        "description": "Request to move/rename a repository.",
        "type": "object",
        "properties": {
          "fromRepo": {
            "description": "Source repository ID.",
            "type": "string"
          },
          "toRepo": {
            "description": "Destination repository ID.",
            "type": "string"
          },
          "type": {
            "description": "Repository type."
          }
        },
        "required": [
          "fromRepo",
          "toRepo"
        ]
      },
      "UpdateRepoSettingsBody": {
        "title": "UpdateRepoSettingsBody",
        "description": "Request to update repository settings.",
        "type": "object",
        "properties": {
          "gated": {
            "description": "Change gated status."
          },
          "private": {
            "description": "Change private status.",
            "type": "boolean"
          }
        }
      },
      "GatedStatus": {
        "description": "Gated model access status.\n\nControls how access requests are handled."
      },
      "Vec<ModelInfo>": {
        "title": "Array_of_ModelInfo",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/ModelInfo"
            }
          ]
        }
      },
      "CardData": {
        "description": "Model card metadata.",
        "type": "object",
        "properties": {
          "base_model": {
            "description": "Base model this was fine-tuned from."
          },
          "co2_eq_emissions": {
            "description": "Co2 emissions data."
          },
          "datasets": {
            "description": "Datasets used for training.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "language": {
            "description": "Supported languages (ISO codes).",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "library_name": {
            "description": "Library name."
          },
          "license": {
            "description": "License identifier."
          },
          "license_link": {
            "description": "License URL."
          },
          "license_name": {
            "description": "License name/description."
          },
          "metrics": {
            "description": "Evaluation metrics.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "model-index": {
            "description": "Model index entries."
          },
          "pipeline_tag": {
            "description": "Pipeline task tag."
          },
          "tags": {
            "description": "Tags/keywords.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "widget": {
            "description": "Custom widget configuration."
          }
        }
      },
      "Co2Emissions": {
        "description": "CO2 emissions information.",
        "type": "object",
        "properties": {
          "emissions": {
            "description": "Emissions in grams."
          },
          "geographical_location": {
            "description": "Geographical location of training."
          },
          "hardware_used": {
            "description": "Hardware used for training."
          },
          "source": {
            "description": "Source of emissions data."
          },
          "training_type": {
            "description": "Training type (e.g., \"fine-tuning\")."
          }
        }
      },
      "DatasetRef": {
        "description": "Dataset reference for evaluation.",
        "type": "object",
        "properties": {
          "config": {
            "description": "Dataset configuration."
          },
          "name": {
            "description": "Dataset display name."
          },
          "split": {
            "description": "Dataset split."
          },
          "type": {
            "description": "Dataset type/name.",
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "EvaluationResult": {
        "description": "Evaluation result on a benchmark.",
        "type": "object",
        "properties": {
          "dataset": {
            "description": "Dataset used for evaluation."
          },
          "metrics": {
            "description": "Metrics and scores.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MetricResult"
                }
              ]
            }
          },
          "task": {
            "description": "Task type."
          }
        }
      },
      "InferenceStatus": {
        "description": "Inference API status for a model."
      },
      "LfsInfo": {
        "description": "LFS (Large File Storage) information.",
        "type": "object",
        "properties": {
          "pointerSize": {
            "description": "Pointer size."
          },
          "sha256": {
            "description": "SHA256 hash of the file.",
            "type": "string"
          },
          "size": {
            "description": "File size in bytes.",
            "type": "integer",
            "format": "uint64"
          }
        },
        "required": [
          "sha256",
          "size"
        ]
      },
      "MetricResult": {
        "description": "Metric result from evaluation.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Display name."
          },
          "type": {
            "description": "Metric type/name.",
            "type": "string"
          },
          "value": {
            "description": "Metric value/score."
          },
          "verified": {
            "description": "Whether this is verified."
          }
        },
        "required": [
          "type",
          "value"
        ]
      },
      "ModelIndexEntry": {
        "description": "Model index entry for evaluation results.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Model name.",
            "type": "string"
          },
          "results": {
            "description": "Evaluation results.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EvaluationResult"
                }
              ]
            }
          }
        },
        "required": [
          "name"
        ]
      },
      "ModelInfo": {
        "title": "ModelInfo",
        "description": "Complete model information from the Hub API.",
        "type": "object",
        "properties": {
          "author": {
            "description": "Author/organization name.",
            "type": "string"
          },
          "cardData": {
            "description": "Model card data (parsed YAML frontmatter)."
          },
          "config": {
            "description": "config.json contents.",
            "type": "object"
          },
          "createdAt": {
            "description": "Creation timestamp (ISO 8601).",
            "type": "string"
          },
          "disabled": {
            "description": "Whether the repository is disabled.",
            "type": "boolean"
          },
          "downloads": {
            "description": "Total download count.",
            "type": "integer",
            "format": "uint64"
          },
          "downloadsAllTime": {
            "description": "Downloads in the last month.",
            "type": "integer",
            "format": "uint64"
          },
          "gated": {
            "description": "Gated access status."
          },
          "inference": {
            "description": "Inference API status."
          },
          "lastModified": {
            "description": "Last modified timestamp (ISO 8601).",
            "type": "string"
          },
          "library_name": {
            "description": "Library/framework name.",
            "type": "string"
          },
          "likes": {
            "description": "Number of likes.",
            "type": "integer",
            "format": "uint64"
          },
          "mask_token": {
            "description": "Mask token for masked LM models.",
            "type": "string"
          },
          "model-index": {
            "description": "Model index with evaluation results.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ModelIndexEntry"
                }
              ]
            }
          },
          "modelId": {
            "description": "Model identifier (e.g., \"bert-base-uncased\" or \"org/model\").",
            "type": "string"
          },
          "pipeline_tag": {
            "description": "Pipeline task tag.",
            "type": "string"
          },
          "private": {
            "description": "Whether the repository is private.",
            "type": "boolean"
          },
          "safetensors": {
            "description": "Safetensors metadata."
          },
          "sha": {
            "description": "SHA of the current commit.",
            "type": "string"
          },
          "siblings": {
            "description": "Files in the repository.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RepoFile"
                }
              ]
            }
          },
          "spaces": {
            "description": "Spaces using this model.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "description": "All tags attached to the model.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "transformersInfo": {
            "description": "Transformers configuration."
          },
          "trendingScore": {
            "description": "Trending score.",
            "type": "number",
            "format": "double"
          },
          "widgetData": {
            "description": "Widget data for the model.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WidgetConfig"
                }
              ]
            }
          }
        },
        "required": [
          "modelId"
        ]
      },
      "RepoFile": {
        "description": "Repository file/sibling entry.\n\nRepresents a single file within a repository.",
        "type": "object",
        "properties": {
          "blobId": {
            "description": "Blob ID (Git SHA)."
          },
          "lfs": {
            "description": "LFS pointer information."
          },
          "rfilename": {
            "description": "Relative filename within the repository.",
            "type": "string"
          },
          "size": {
            "description": "File size in bytes."
          }
        },
        "required": [
          "rfilename"
        ]
      },
      "SafetensorsInfo": {
        "description": "Safetensors metadata for a model.",
        "type": "object",
        "properties": {
          "parameters": {
            "description": "Parameter count by dtype."
          },
          "sharded": {
            "description": "Sharding information."
          },
          "total": {
            "description": "Total model size in bytes."
          }
        }
      },
      "TaskInfo": {
        "description": "Task information for evaluation.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Task display name."
          },
          "type": {
            "description": "Task type name.",
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "TransformersInfo": {
        "description": "Transform/processor configuration.",
        "type": "object",
        "properties": {
          "auto_map": {
            "description": "Auto class mappings."
          },
          "custom_class": {
            "description": "Custom pipeline class."
          },
          "processor": {
            "description": "Processor class."
          }
        }
      },
      "WidgetConfig": {
        "description": "Widget configuration for model demos.",
        "type": "object",
        "properties": {
          "example_title": {
            "description": "Example label/title."
          },
          "src": {
            "description": "Example source URL (for images/audio)."
          },
          "text": {
            "description": "Example text/input."
          }
        }
      },
      "Vec<RepoFile>": {
        "title": "Array_of_RepoFile",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RepoFile"
            }
          ]
        }
      },
      "FileMetadata": {
        "title": "FileMetadata",
        "description": "File metadata in a repository.\n\nTODO: Define proper fields based on HuggingFace API docs.",
        "type": "object",
        "properties": {
          "oid": {
            "description": "File blob ID (git SHA).",
            "type": "string"
          },
          "path": {
            "description": "File path.",
            "type": "string"
          },
          "size": {
            "description": "File size in bytes.",
            "type": "integer",
            "format": "uint64"
          },
          "type": {
            "description": "MIME type.",
            "type": "string"
          }
        },
        "required": [
          "path"
        ]
      },
      "Vec<Commit>": {
        "title": "Array_of_CommitInfo",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/CommitInfo"
            }
          ]
        }
      },
      "CommitInfo": {
        "description": "Git commit information.",
        "type": "object",
        "properties": {
          "date": {
            "description": "Commit date (ISO 8601)."
          },
          "id": {
            "description": "Commit SHA hash.",
            "type": "string"
          },
          "message": {
            "description": "Commit message body."
          },
          "title": {
            "description": "Commit title/message."
          }
        },
        "required": [
          "id"
        ]
      },
      "DiscussionList": {
        "title": "DiscussionList",
        "description": "List of discussions response.",
        "type": "object",
        "properties": {
          "count": {
            "description": "Total count.",
            "type": "integer",
            "format": "uint64"
          },
          "discussions": {
            "description": "List of discussions.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Discussion"
                }
              ]
            }
          }
        },
        "required": [
          "discussions"
        ]
      },
      "Author": {
        "description": "Author/user information for commits and discussions.",
        "type": "object",
        "properties": {
          "avatarUrl": {
            "description": "User avatar URL."
          },
          "email": {
            "description": "Email address."
          },
          "name": {
            "description": "Username or full name.",
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "Discussion": {
        "description": "Discussion thread on a repository.",
        "type": "object",
        "properties": {
          "author": {
            "description": "Author information."
          },
          "createdAt": {
            "description": "Creation timestamp."
          },
          "isPullRequest": {
            "description": "Discussion type (discussion or pull_request).",
            "type": "boolean"
          },
          "labels": {
            "description": "Labels/tags.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "num": {
            "description": "Discussion number.",
            "type": "integer",
            "format": "uint64"
          },
          "numComments": {
            "description": "Number of comments."
          },
          "pinned": {
            "description": "Whether pinned.",
            "type": "boolean"
          },
          "status": {
            "description": "Discussion status.",
            "allOf": [
              {
                "$ref": "#/components/schemas/DiscussionStatus"
              }
            ]
          },
          "title": {
            "description": "Discussion title.",
            "type": "string"
          }
        },
        "required": [
          "num",
          "title",
          "status"
        ]
      },
      "DiscussionStatus": {
        "description": "Discussion/pull request status."
      },
      "Vec<DatasetInfo>": {
        "title": "Array_of_DatasetInfo",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/DatasetInfo"
            }
          ]
        }
      },
      "DatasetCardData": {
        "description": "Dataset-specific card data.",
        "type": "object",
        "properties": {
          "configs": {
            "description": "Dataset features/configs.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/DatasetConfig"
                }
              ]
            }
          },
          "language": {
            "description": "Supported languages.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "license": {
            "description": "License identifier."
          },
          "pretty_name": {
            "description": "Pretty name."
          },
          "size_categories": {
            "description": "Size category.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "description": "Tags/keywords.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "task_categories": {
            "description": "Task categories.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "task_ids": {
            "description": "Task IDs.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DatasetConfig": {
        "description": "Dataset configuration/split information.",
        "type": "object",
        "properties": {
          "config_name": {
            "description": "Configuration name."
          },
          "data_files": {
            "description": "Data files patterns."
          },
          "splits": {
            "description": "Default split.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/DatasetSplit"
                }
              ]
            }
          }
        }
      },
      "DatasetInfo": {
        "title": "DatasetInfo",
        "description": "Complete dataset information from the Hub API.",
        "type": "object",
        "properties": {
          "author": {
            "description": "Author/organization name.",
            "type": "string"
          },
          "cardData": {
            "description": "Card data (parsed frontmatter)."
          },
          "citation": {
            "description": "Citation text.",
            "type": "string"
          },
          "createdAt": {
            "description": "Creation timestamp.",
            "type": "string"
          },
          "description": {
            "description": "Description text.",
            "type": "string"
          },
          "disabled": {
            "description": "Whether disabled.",
            "type": "boolean"
          },
          "downloads": {
            "description": "Download count.",
            "type": "integer",
            "format": "uint64"
          },
          "gated": {
            "description": "Gated access status."
          },
          "id": {
            "description": "Dataset identifier (e.g., \"squad\" or \"org/dataset\").",
            "type": "string"
          },
          "lastModified": {
            "description": "Last modified timestamp.",
            "type": "string"
          },
          "likes": {
            "description": "Like count.",
            "type": "integer",
            "format": "uint64"
          },
          "private": {
            "description": "Whether private.",
            "type": "boolean"
          },
          "sha": {
            "description": "SHA of the current commit.",
            "type": "string"
          },
          "siblings": {
            "description": "Files in the repository.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RepoFile"
                }
              ]
            }
          },
          "tags": {
            "description": "All tags.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "trendingScore": {
            "description": "Trending score.",
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "id"
        ]
      },
      "DatasetSplit": {
        "description": "Dataset split information.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Split name (train, test, validation).",
            "type": "string"
          },
          "num_bytes": {
            "description": "Number of bytes."
          },
          "num_examples": {
            "description": "Number of examples."
          }
        },
        "required": [
          "name"
        ]
      },
      "Vec<SpaceInfo>": {
        "title": "Array_of_SpaceInfo",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/SpaceInfo"
            }
          ]
        }
      },
      "SpaceCardData": {
        "description": "Space-specific card data.",
        "type": "object",
        "properties": {
          "app_file": {
            "description": "Application file path."
          },
          "app_port": {
            "description": "Application port."
          },
          "colorFrom": {
            "description": "Color theme start."
          },
          "colorTo": {
            "description": "Color theme end."
          },
          "datasets": {
            "description": "Datasets used.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "emoji": {
            "description": "Emoji icon."
          },
          "license": {
            "description": "License."
          },
          "models": {
            "description": "Models used.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pinned": {
            "description": "Pinned spaces.",
            "type": "boolean"
          },
          "sdk": {
            "description": "SDK type."
          },
          "sdk_version": {
            "description": "SDK version."
          },
          "short_description": {
            "description": "Short description."
          },
          "suggested_hardware": {
            "description": "Suggested hardware."
          },
          "suggested_storage": {
            "description": "Suggested storage."
          },
          "tags": {
            "description": "Tags.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "title": {
            "description": "Title."
          }
        }
      },
      "SpaceInfo": {
        "title": "SpaceInfo",
        "description": "Complete Space information from the Hub API.",
        "type": "object",
        "properties": {
          "author": {
            "description": "Author/organization.",
            "type": "string"
          },
          "cardData": {
            "description": "Card data (parsed frontmatter)."
          },
          "colorFrom": {
            "description": "Color theme.",
            "type": "string"
          },
          "colorTo": {
            "description": "Color theme (end).",
            "type": "string"
          },
          "createdAt": {
            "description": "Creation timestamp.",
            "type": "string"
          },
          "datasets": {
            "description": "Datasets used by this space.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "disabled": {
            "description": "Whether disabled.",
            "type": "boolean"
          },
          "emoji": {
            "description": "Emoji icon.",
            "type": "string"
          },
          "id": {
            "description": "Space identifier (e.g., \"org/space-name\").",
            "type": "string"
          },
          "lastModified": {
            "description": "Last modified timestamp.",
            "type": "string"
          },
          "likes": {
            "description": "Like count.",
            "type": "integer",
            "format": "uint64"
          },
          "models": {
            "description": "Models used by this space.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pinned": {
            "description": "Pinned status.",
            "type": "boolean"
          },
          "private": {
            "description": "Whether private.",
            "type": "boolean"
          },
          "runtime": {
            "description": "Runtime information."
          },
          "sdk": {
            "description": "SDK type (gradio, streamlit, etc.)."
          },
          "sdk_version": {
            "description": "SDK version.",
            "type": "string"
          },
          "sha": {
            "description": "SHA of the current commit.",
            "type": "string"
          },
          "siblings": {
            "description": "Files in the repository.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RepoFile"
                }
              ]
            }
          },
          "tags": {
            "description": "All tags.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "trendingScore": {
            "description": "Trending score.",
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "id"
        ]
      },
      "SpaceRuntime": {
        "description": "Space runtime status and configuration.",
        "type": "object",
        "properties": {
          "errorMessage": {
            "description": "Error message if any."
          },
          "gcTimeout": {
            "description": "Sleep time in seconds (0 = never)."
          },
          "hardware": {
            "description": "Hardware tier."
          },
          "replicas": {
            "description": "Number of replicas."
          },
          "requestedHardware": {
            "description": "Requested hardware."
          },
          "stage": {
            "description": "Current stage/status."
          },
          "storage": {
            "description": "Storage mount path."
          }
        }
      },
      "SpaceStage": {
        "description": "Space runtime stage."
      },
      "RepoUrl": {
        "title": "RepoUrl",
        "description": "Repository URL after creation/modification.\n\nTODO: Define proper fields based on HuggingFace API docs.",
        "type": "object",
        "properties": {
          "url": {
            "description": "Full URL to the repository.",
            "type": "string"
          }
        },
        "required": [
          "url"
        ]
      },
      "StatusResponse": {
        "title": "StatusResponse",
        "description": "Status response for mutation operations.\n\nTODO: Define proper fields based on HuggingFace API docs.",
        "type": "object",
        "properties": {
          "message": {
            "description": "Optional message.",
            "type": "string"
          },
          "ok": {
            "description": "Operation success status.",
            "type": "boolean"
          }
        }
      },
      "UserInfo": {
        "title": "UserInfo",
        "description": "User information.",
        "type": "object",
        "properties": {
          "avatarUrl": {
            "description": "Avatar URL.",
            "type": "string"
          },
          "fullname": {
            "description": "Full display name.",
            "type": "string"
          },
          "isPro": {
            "description": "Whether this is a pro user.",
            "type": "boolean"
          },
          "name": {
            "description": "Username.",
            "type": "string"
          },
          "numDatasets": {
            "description": "Number of datasets.",
            "type": "integer",
            "format": "uint64"
          },
          "numFollowers": {
            "description": "Number of followers.",
            "type": "integer",
            "format": "uint64"
          },
          "numFollowing": {
            "description": "Number following.",
            "type": "integer",
            "format": "uint64"
          },
          "numLikes": {
            "description": "Number of likes given.",
            "type": "integer",
            "format": "uint64"
          },
          "numModels": {
            "description": "Number of models.",
            "type": "integer",
            "format": "uint64"
          },
          "numSpaces": {
            "description": "Number of spaces.",
            "type": "integer",
            "format": "uint64"
          },
          "type": {
            "description": "User type (user or org).",
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "Vec<RepoInfo>": {
        "title": "Array_of_RepoInfo",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RepoInfo"
            }
          ]
        }
      },
      "RepoInfo": {
        "description": "Repository information summary.\n\nTODO: Define proper fields based on HuggingFace API docs.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Repository ID (owner/name).",
            "type": "string"
          },
          "private": {
            "description": "Whether private."
          },
          "type": {
            "description": "Repository type."
          }
        },
        "required": [
          "id"
        ]
      },
      "Vec<Collection>": {
        "title": "Array_of_Collection",
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/Collection"
            }
          ]
        }
      },
      "Collection": {
        "description": "Collection (curated list of repos).",
        "type": "object",
        "properties": {
          "createdAt": {
            "description": "Creation timestamp."
          },
          "description": {
            "description": "Collection description."
          },
          "items": {
            "description": "Items in the collection.",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/CollectionItem"
                }
              ]
            }
          },
          "lastUpdated": {
            "description": "Last updated timestamp."
          },
          "owner": {
            "description": "Owner/author."
          },
          "position": {
            "description": "Position/order."
          },
          "private": {
            "description": "Whether private.",
            "type": "boolean"
          },
          "slug": {
            "description": "Collection slug/ID.",
            "type": "string"
          },
          "theme": {
            "description": "Theme/emoji."
          },
          "title": {
            "description": "Collection title.",
            "type": "string"
          },
          "upvotes": {
            "description": "Number of upvotes.",
            "type": "integer",
            "format": "uint64"
          }
        },
        "required": [
          "slug",
          "title"
        ]
      },
      "CollectionItem": {
        "description": "Item in a collection.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Item ID (repo ID).",
            "type": "string"
          },
          "note": {
            "description": "Note/description."
          },
          "position": {
            "description": "Position in collection."
          },
          "title": {
            "description": "Display title."
          },
          "type": {
            "description": "Item type.",
            "allOf": [
              {
                "$ref": "#/components/schemas/RepoType"
              }
            ]
          }
        },
        "required": [
          "type",
          "id"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "externalDocs": {
    "description": "API Documentation",
    "url": "https://huggingface.co/docs/hub/api"
  },
  "x-schematic": {
    "env_mapping": {
      "api_key": null,
      "basic_pass": null,
      "basic_user": null,
      "bearer_token": {
        "names": [
          "HF_TOKEN",
          "HUGGING_FACE_API_KEY",
          "HF_API_KEY"
        ]
      }
    },
    "module_path": "huggingface"
  },
  "x-schematic-grouped-from": [
    "HuggingFaceHub"
  ]
}