{
  "openapi": "3.0.3",
  "info": {
    "title": "openai",
    "description": "The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.openai.com/v1",
      "description": "OpenAI API Server"
    }
  ],
  "paths": {
    "/audio/speech": {
      "post": {
        "summary": "Generates audio from the input text.\n\nReturns the audio file content, or a stream of audio events.\n",
        "description": "Generates audio from the input text.\n\nReturns the audio file content, or a stream of audio events.\n",
        "operationId": "CreateSpeech",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpeechRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful binary response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateSpeechRequest2"
            }
          },
          "response": "Binary"
        }
      }
    },
    "/audio/transcriptions": {
      "post": {
        "summary": "Transcribes audio into the input language.\n\nReturns a transcription object in `json`, `diarized_json`, or `verbose_json`\nformat, or a stream of transcript events.\n",
        "description": "Transcribes audio into the input language.\n\nReturns a transcription object in `json`, `diarized_json`, or `verbose_json`\nformat, or a stream of transcript events.\n",
        "operationId": "CreateTranscription",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "description": "The audio file object (not file name) to transcribe, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.\n",
                    "type": "string",
                    "format": "binary"
                  },
                  "model": {
                    "description": "ID of the model to use. The options are `gpt-transcribe`, `gpt-4o-transcribe`, `gpt-4o-mini-transcribe`, `gpt-4o-mini-transcribe-2025-12-15`, `whisper-1` (which is powered by our open source Whisper V2 model), and `gpt-4o-transcribe-diarize`.\n",
                    "type": "string"
                  },
                  "language": {
                    "description": "The language of the input audio. Supplying the input language in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) (e.g. `en`) format will improve accuracy and latency.\n",
                    "type": "string"
                  },
                  "languages": {
                    "description": "Possible languages of the input audio, in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) format. Supported by `gpt-transcribe`.\n",
                    "type": "string"
                  },
                  "keywords": {
                    "description": "Words or phrases to guide transcription of the input audio. Supported by `gpt-transcribe`.\n",
                    "type": "string"
                  },
                  "prompt": {
                    "description": "An optional text to guide the model's style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text#prompting) should match the audio language. This field is not supported when using `gpt-4o-transcribe-diarize`.\n",
                    "type": "string"
                  },
                  "response_format": {
                    "description": "The format of the output, in one of these options: `json`, `text`, `srt`, `verbose_json`, `vtt`, or `diarized_json`. For `gpt-4o-transcribe` and `gpt-4o-mini-transcribe`, the only supported format is `json`. For `gpt-4o-transcribe-diarize`, the supported formats are `json`, `text`, and `diarized_json`, with `diarized_json` required to receive speaker annotations.\n",
                    "type": "string"
                  },
                  "temperature": {
                    "description": "The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.\n",
                    "type": "string"
                  },
                  "include": {
                    "description": "Additional information to include in the transcription response.\n`logprobs` will return the log probabilities of the tokens in the\nresponse to understand the model's confidence in the transcription.\n`logprobs` only works with response_format set to `json` and only with\nthe models `gpt-4o-transcribe`, `gpt-4o-mini-transcribe`, and `gpt-4o-mini-transcribe-2025-12-15`. This field is not supported when using `gpt-4o-transcribe-diarize`.\n",
                    "type": "string"
                  },
                  "timestamp_granularities": {
                    "description": "The timestamp granularities to populate for this transcription. `response_format` must be set `verbose_json` to use timestamp granularities. Either or both of these options are supported: `word`, or `segment`. Note: There is no additional latency for segment timestamps, but generating word timestamps incurs additional latency.\nThis option is not available for `gpt-4o-transcribe-diarize`.\n",
                    "type": "string"
                  },
                  "stream": {
                    "type": "string"
                  },
                  "chunking_strategy": {
                    "type": "string"
                  },
                  "known_speaker_names": {
                    "description": "Optional list of speaker names that correspond to the audio samples provided in `known_speaker_references[]`. Each entry should be a short identifier (for example `customer` or `agent`). Up to 4 speakers are supported.\n",
                    "type": "string"
                  },
                  "known_speaker_references": {
                    "description": "Optional list of audio samples (as [data URLs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URLs)) that contain known speaker references matching `known_speaker_names[]`. Each sample must be between 2 and 10 seconds, and can use any of the same input audio formats supported by `file`.\n",
                    "type": "string"
                  }
                },
                "required": [
                  "file",
                  "model"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "FormData": {
              "fields": [
                {
                  "description": "The audio file object (not file name) to transcribe, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.\n",
                  "kind": {
                    "File": {
                      "accept": []
                    }
                  },
                  "name": "file",
                  "required": true
                },
                {
                  "description": "ID of the model to use. The options are `gpt-transcribe`, `gpt-4o-transcribe`, `gpt-4o-mini-transcribe`, `gpt-4o-mini-transcribe-2025-12-15`, `whisper-1` (which is powered by our open source Whisper V2 model), and `gpt-4o-transcribe-diarize`.\n",
                  "kind": "Text",
                  "name": "model",
                  "required": true
                },
                {
                  "description": "The language of the input audio. Supplying the input language in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) (e.g. `en`) format will improve accuracy and latency.\n",
                  "kind": "Text",
                  "name": "language",
                  "required": false
                },
                {
                  "description": "Possible languages of the input audio, in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) format. Supported by `gpt-transcribe`.\n",
                  "kind": "Text",
                  "name": "languages",
                  "required": false
                },
                {
                  "description": "Words or phrases to guide transcription of the input audio. Supported by `gpt-transcribe`.\n",
                  "kind": "Text",
                  "name": "keywords",
                  "required": false
                },
                {
                  "description": "An optional text to guide the model's style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text#prompting) should match the audio language. This field is not supported when using `gpt-4o-transcribe-diarize`.\n",
                  "kind": "Text",
                  "name": "prompt",
                  "required": false
                },
                {
                  "description": "The format of the output, in one of these options: `json`, `text`, `srt`, `verbose_json`, `vtt`, or `diarized_json`. For `gpt-4o-transcribe` and `gpt-4o-mini-transcribe`, the only supported format is `json`. For `gpt-4o-transcribe-diarize`, the supported formats are `json`, `text`, and `diarized_json`, with `diarized_json` required to receive speaker annotations.\n",
                  "kind": "Text",
                  "name": "response_format",
                  "required": false
                },
                {
                  "description": "The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.\n",
                  "kind": "Text",
                  "name": "temperature",
                  "required": false
                },
                {
                  "description": "Additional information to include in the transcription response.\n`logprobs` will return the log probabilities of the tokens in the\nresponse to understand the model's confidence in the transcription.\n`logprobs` only works with response_format set to `json` and only with\nthe models `gpt-4o-transcribe`, `gpt-4o-mini-transcribe`, and `gpt-4o-mini-transcribe-2025-12-15`. This field is not supported when using `gpt-4o-transcribe-diarize`.\n",
                  "kind": "Text",
                  "name": "include",
                  "required": false
                },
                {
                  "description": "The timestamp granularities to populate for this transcription. `response_format` must be set `verbose_json` to use timestamp granularities. Either or both of these options are supported: `word`, or `segment`. Note: There is no additional latency for segment timestamps, but generating word timestamps incurs additional latency.\nThis option is not available for `gpt-4o-transcribe-diarize`.\n",
                  "kind": "Text",
                  "name": "timestamp_granularities",
                  "required": false
                },
                {
                  "description": null,
                  "kind": "Text",
                  "name": "stream",
                  "required": false
                },
                {
                  "description": null,
                  "kind": "Text",
                  "name": "chunking_strategy",
                  "required": false
                },
                {
                  "description": "Optional list of speaker names that correspond to the audio samples provided in `known_speaker_references[]`. Each entry should be a short identifier (for example `customer` or `agent`). Up to 4 speakers are supported.\n",
                  "kind": "Text",
                  "name": "known_speaker_names",
                  "required": false
                },
                {
                  "description": "Optional list of audio samples (as [data URLs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URLs)) that contain known speaker references matching `known_speaker_names[]`. Each sample must be between 2 and 10 seconds, and can use any of the same input audio formats supported by `file`.\n",
                  "kind": "Text",
                  "name": "known_speaker_references",
                  "required": false
                }
              ]
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "serde_json::Value"
            }
          }
        }
      }
    },
    "/audio/translations": {
      "post": {
        "summary": "Translates audio into English.",
        "description": "Translates audio into English.",
        "operationId": "CreateTranslation",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "description": "The audio file object (not file name) translate, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.\n",
                    "type": "string",
                    "format": "binary"
                  },
                  "model": {
                    "description": "ID of the model to use. Only `whisper-1` (which is powered by our open source Whisper V2 model) is currently available.\n",
                    "type": "string"
                  },
                  "prompt": {
                    "description": "An optional text to guide the model's style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text#prompting) should be in English.\n",
                    "type": "string"
                  },
                  "response_format": {
                    "description": "The format of the output, in one of these options: `json`, `text`, `srt`, `verbose_json`, or `vtt`.\n",
                    "type": "string"
                  },
                  "temperature": {
                    "description": "The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.\n",
                    "type": "string"
                  }
                },
                "required": [
                  "file",
                  "model"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "FormData": {
              "fields": [
                {
                  "description": "The audio file object (not file name) translate, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.\n",
                  "kind": {
                    "File": {
                      "accept": []
                    }
                  },
                  "name": "file",
                  "required": true
                },
                {
                  "description": "ID of the model to use. Only `whisper-1` (which is powered by our open source Whisper V2 model) is currently available.\n",
                  "kind": "Text",
                  "name": "model",
                  "required": true
                },
                {
                  "description": "An optional text to guide the model's style or continue a previous audio segment. The [prompt](/docs/guides/speech-to-text#prompting) should be in English.\n",
                  "kind": "Text",
                  "name": "prompt",
                  "required": false
                },
                {
                  "description": "The format of the output, in one of these options: `json`, `text`, `srt`, `verbose_json`, or `vtt`.\n",
                  "kind": "Text",
                  "name": "response_format",
                  "required": false
                },
                {
                  "description": "The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use [log probability](https://en.wikipedia.org/wiki/Log_probability) to automatically increase the temperature until certain thresholds are hit.\n",
                  "kind": "Text",
                  "name": "temperature",
                  "required": false
                }
              ]
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "serde_json::Value"
            }
          }
        }
      }
    },
    "/audio/voice_consents": {
      "get": {
        "summary": "Returns a list of voice consent recordings.",
        "description": "Returns a list of voice consent recordings.",
        "operationId": "ListVoiceConsents",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceConsentListResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceConsentListResource"
            }
          }
        }
      },
      "post": {
        "summary": "Upload a voice consent recording.",
        "description": "Upload a voice consent recording.",
        "operationId": "CreateVoiceConsent",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "The label to use for this consent recording.",
                    "type": "string"
                  },
                  "recording": {
                    "description": "The consent audio recording file. Maximum size is 10 MiB.\n\nSupported MIME types:\n`audio/mpeg`, `audio/wav`, `audio/x-wav`, `audio/ogg`, `audio/aac`, `audio/flac`, `audio/webm`, `audio/mp4`.\n",
                    "type": "string",
                    "format": "binary"
                  },
                  "language": {
                    "description": "The BCP 47 language tag for the consent phrase (for example, `en-US`).",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "recording",
                  "language"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceConsentResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "FormData": {
              "fields": [
                {
                  "description": "The label to use for this consent recording.",
                  "kind": "Text",
                  "name": "name",
                  "required": true
                },
                {
                  "description": "The consent audio recording file. Maximum size is 10 MiB.\n\nSupported MIME types:\n`audio/mpeg`, `audio/wav`, `audio/x-wav`, `audio/ogg`, `audio/aac`, `audio/flac`, `audio/webm`, `audio/mp4`.\n",
                  "kind": {
                    "File": {
                      "accept": []
                    }
                  },
                  "name": "recording",
                  "required": true
                },
                {
                  "description": "The BCP 47 language tag for the consent phrase (for example, `en-US`).",
                  "kind": "Text",
                  "name": "language",
                  "required": true
                }
              ]
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceConsentResource"
            }
          }
        }
      }
    },
    "/audio/voice_consents/{consent_id}": {
      "get": {
        "summary": "Retrieves a voice consent recording.",
        "description": "Retrieves a voice consent recording.",
        "operationId": "GetVoiceConsent",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceConsentResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceConsentResource"
            }
          }
        }
      },
      "post": {
        "summary": "Updates a voice consent recording (metadata only).",
        "description": "Updates a voice consent recording (metadata only).",
        "operationId": "UpdateVoiceConsent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVoiceConsentRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceConsentResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "UpdateVoiceConsentRequest2"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceConsentResource"
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes a voice consent recording.",
        "description": "Deletes a voice consent recording.",
        "operationId": "DeleteVoiceConsent",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceConsentDeletedResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceConsentDeletedResource"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "consent_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "consent_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "consent_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/audio/voices": {
      "post": {
        "summary": "Creates a custom voice.",
        "description": "Creates a custom voice.",
        "operationId": "CreateVoice",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "The name of the new voice.",
                    "type": "string"
                  },
                  "audio_sample": {
                    "description": "The sample audio recording file. Maximum size is 10 MiB.\n\nSupported MIME types:\n`audio/mpeg`, `audio/wav`, `audio/x-wav`, `audio/ogg`, `audio/aac`, `audio/flac`, `audio/webm`, `audio/mp4`.\n",
                    "type": "string",
                    "format": "binary"
                  },
                  "consent": {
                    "description": "The consent recording ID (for example, `cons_1234`).",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "audio_sample",
                  "consent"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "FormData": {
              "fields": [
                {
                  "description": "The name of the new voice.",
                  "kind": "Text",
                  "name": "name",
                  "required": true
                },
                {
                  "description": "The sample audio recording file. Maximum size is 10 MiB.\n\nSupported MIME types:\n`audio/mpeg`, `audio/wav`, `audio/x-wav`, `audio/ogg`, `audio/aac`, `audio/flac`, `audio/webm`, `audio/mp4`.\n",
                  "kind": {
                    "File": {
                      "accept": []
                    }
                  },
                  "name": "audio_sample",
                  "required": true
                },
                {
                  "description": "The consent recording ID (for example, `cons_1234`).",
                  "kind": "Text",
                  "name": "consent",
                  "required": true
                }
              ]
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "VoiceResource"
            }
          }
        }
      }
    },
    "/batches": {
      "get": {
        "summary": "List your organization's batches.",
        "description": "List your organization's batches.",
        "operationId": "ListBatches",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBatchesResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListBatchesResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Creates and executes a batch from an uploaded file of requests",
        "description": "Creates and executes a batch from an uploaded file of requests",
        "operationId": "CreateBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateBatchRequest2"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Batch"
            }
          }
        }
      }
    },
    "/batches/{batch_id}": {
      "get": {
        "summary": "Retrieves a batch.",
        "description": "Retrieves a batch.",
        "operationId": "RetrieveBatch",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Batch"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "batch_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/batches/{batch_id}/cancel": {
      "post": {
        "summary": "Cancels an in-progress batch. The batch will be in status `cancelling` for up to 10 minutes, before changing to `cancelled`, where it will have partial results (if any) available in the output file.",
        "description": "Cancels an in-progress batch. The batch will be in status `cancelling` for up to 10 minutes, before changing to `cancelled`, where it will have partial results (if any) available in the output file.",
        "operationId": "CancelBatch",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Batch"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "batch_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/chat/completions": {
      "get": {
        "summary": "List stored Chat Completions. Only Chat Completions that have been stored\nwith the `store` parameter set to `true` will be returned.\n",
        "description": "List stored Chat Completions. Only Chat Completions that have been stored\nwith the `store` parameter set to `true` will be returned.\n",
        "operationId": "ListChatCompletions",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionList"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ChatCompletionList"
            }
          }
        }
      },
      "post": {
        "summary": "**Starting a new project?** We recommend trying [Responses](/docs/api-reference/responses)\nto take advantage of the latest OpenAI platform features. Compare\n[Chat Completions with Responses](/docs/guides/responses-vs-chat-completions?api-mode=responses).\n\n---\n\nCreates a model response for the given chat conversation. Learn more in the\n[text generation](/docs/guides/text-generation), [vision](/docs/guides/vision),\nand [audio](/docs/guides/audio) guides.\n\nParameter support can differ depending on the model used to generate the\nresponse, particularly for newer reasoning models. Parameters that are only\nsupported for reasoning models are noted below. For the current state of\nunsupported parameters in reasoning models,\n[refer to the reasoning guide](/docs/guides/reasoning).\n\nReturns a chat completion object, or a streamed sequence of chat completion\nchunk objects if the request is streamed.\n",
        "description": "**Starting a new project?** We recommend trying [Responses](/docs/api-reference/responses)\nto take advantage of the latest OpenAI platform features. Compare\n[Chat Completions with Responses](/docs/guides/responses-vs-chat-completions?api-mode=responses).\n\n---\n\nCreates a model response for the given chat conversation. Learn more in the\n[text generation](/docs/guides/text-generation), [vision](/docs/guides/vision),\nand [audio](/docs/guides/audio) guides.\n\nParameter support can differ depending on the model used to generate the\nresponse, particularly for newer reasoning models. Parameters that are only\nsupported for reasoning models are noted below. For the current state of\nunsupported parameters in reasoning models,\n[refer to the reasoning guide](/docs/guides/reasoning).\n\nReturns a chat completion object, or a streamed sequence of chat completion\nchunk objects if the request is streamed.\n",
        "operationId": "CreateChatCompletion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChatCompletionResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateChatCompletionRequest2"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "CreateChatCompletionResponse"
            }
          }
        }
      }
    },
    "/chat/completions/{completion_id}": {
      "get": {
        "summary": "Get a stored chat completion. Only Chat Completions that have been created\nwith the `store` parameter set to `true` will be returned.\n",
        "description": "Get a stored chat completion. Only Chat Completions that have been created\nwith the `store` parameter set to `true` will be returned.\n",
        "operationId": "GetChatCompletion",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChatCompletionResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "CreateChatCompletionResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Modify a stored chat completion. Only Chat Completions that have been\ncreated with the `store` parameter set to `true` can be modified. Currently,\nthe only supported modification is to update the `metadata` field.\n",
        "description": "Modify a stored chat completion. Only Chat Completions that have been\ncreated with the `store` parameter set to `true` can be modified. Currently,\nthe only supported modification is to update the `metadata` field.\n",
        "operationId": "UpdateChatCompletion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChatCompletionResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "serde_json::Value"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "CreateChatCompletionResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a stored chat completion. Only Chat Completions that have been\ncreated with the `store` parameter set to `true` can be deleted.\n",
        "description": "Delete a stored chat completion. Only Chat Completions that have been\ncreated with the `store` parameter set to `true` can be deleted.\n",
        "operationId": "DeleteChatCompletion",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionDeleted"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ChatCompletionDeleted"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "completion_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "completion_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "completion_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/chat/completions/{completion_id}/messages": {
      "get": {
        "summary": "Get the messages in a stored chat completion. Only Chat Completions that\nhave been created with the `store` parameter set to `true` will be\nreturned.\n",
        "description": "Get the messages in a stored chat completion. Only Chat Completions that\nhave been created with the `store` parameter set to `true` will be\nreturned.\n",
        "operationId": "GetChatCompletionMessages",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionMessageList"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ChatCompletionMessageList"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "completion_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/completions": {
      "post": {
        "summary": "Creates a completion for the provided prompt and parameters.\n\nReturns a completion object, or a sequence of completion objects if the request is streamed.\n",
        "description": "Creates a completion for the provided prompt and parameters.\n\nReturns a completion object, or a sequence of completion objects if the request is streamed.\n",
        "operationId": "CreateCompletion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompletionRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCompletionResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateCompletionRequest2"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "CreateCompletionResponse"
            }
          }
        }
      }
    },
    "/containers": {
      "get": {
        "summary": "List Containers",
        "description": "List Containers",
        "operationId": "ListContainers",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerListResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ContainerListResource"
            }
          }
        }
      },
      "post": {
        "summary": "Create Container",
        "description": "Create Container",
        "operationId": "CreateContainer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContainerBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateContainerBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ContainerResource"
            }
          }
        }
      }
    },
    "/containers/{container_id}": {
      "get": {
        "summary": "Retrieve Container",
        "description": "Retrieve Container",
        "operationId": "RetrieveContainer",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ContainerResource"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Container",
        "description": "Delete Container",
        "operationId": "DeleteContainer",
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "x-schematic": {
          "response": "Empty"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "container_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "container_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/containers/{container_id}/files": {
      "get": {
        "summary": "List Container files",
        "description": "List Container files",
        "operationId": "ListContainerFiles",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerFileListResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ContainerFileListResource"
            }
          }
        }
      },
      "post": {
        "summary": "Create a Container File\n\nYou can send either a multipart/form-data request with the raw file content, or a JSON request with a file ID.\n",
        "description": "Create a Container File\n\nYou can send either a multipart/form-data request with the raw file content, or a JSON request with a file ID.\n",
        "operationId": "CreateContainerFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContainerFileBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerFileResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateContainerFileBody"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ContainerFileResource"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "container_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "container_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/containers/{container_id}/files/{file_id}": {
      "get": {
        "summary": "Retrieve Container File",
        "description": "Retrieve Container File",
        "operationId": "RetrieveContainerFile",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContainerFileResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ContainerFileResource"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Container File",
        "description": "Delete Container File",
        "operationId": "DeleteContainerFile",
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "x-schematic": {
          "response": "Empty"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "container_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "file_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "container_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "file_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/containers/{container_id}/files/{file_id}/content": {
      "get": {
        "summary": "Retrieve Container File Content",
        "description": "Retrieve Container File Content",
        "operationId": "RetrieveContainerFileContent",
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "x-schematic": {
          "response": "Empty"
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "container_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "file_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/conversations/{conversation_id}/items": {
      "get": {
        "summary": "List all items for a conversation with the given ID.",
        "description": "List all items for a conversation with the given ID.",
        "operationId": "ListConversationItems",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationItemList"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ConversationItemList"
            }
          }
        }
      },
      "post": {
        "summary": "Create items in a conversation with the given ID.",
        "description": "Create items in a conversation with the given ID.",
        "operationId": "CreateConversationItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationItemList"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "serde_json::Value"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ConversationItemList"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "conversation_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "conversation_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/conversations/{conversation_id}/items/{item_id}": {
      "get": {
        "summary": "Get a single item from a conversation with the given IDs.",
        "description": "Get a single item from a conversation with the given IDs.",
        "operationId": "GetConversationItem",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationItem"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ConversationItem"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an item from a conversation with the given IDs.",
        "description": "Delete an item from a conversation with the given IDs.",
        "operationId": "DeleteConversationItem",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResource"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ConversationResource"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "conversation_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "item_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "conversation_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "item_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/embeddings": {
      "post": {
        "summary": "Creates an embedding vector representing the input text.",
        "description": "Creates an embedding vector representing the input text.",
        "operationId": "CreateEmbedding",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmbeddingRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmbeddingResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateEmbeddingRequest2"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "CreateEmbeddingResponse"
            }
          }
        }
      }
    },
    "/evals": {
      "get": {
        "summary": "List evaluations for a project.\n",
        "description": "List evaluations for a project.\n",
        "operationId": "ListEvals",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalList"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "EvalList"
            }
          }
        }
      },
      "post": {
        "summary": "Create the structure of an evaluation that can be used to test a model's performance.\nAn evaluation is a set of testing criteria and the config for a data source, which dictates the schema of the data used in the evaluation. After creating an evaluation, you can run it on different models and model parameters. We support several types of graders and datasources.\nFor more information, see the [Evals guide](/docs/guides/evals).\n",
        "description": "Create the structure of an evaluation that can be used to test a model's performance.\nAn evaluation is a set of testing criteria and the config for a data source, which dictates the schema of the data used in the evaluation. After creating an evaluation, you can run it on different models and model parameters. We support several types of graders and datasources.\nFor more information, see the [Evals guide](/docs/guides/evals).\n",
        "operationId": "CreateEval",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvalRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eval"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateEvalRequest2"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Eval"
            }
          }
        }
      }
    },
    "/evals/{eval_id}": {
      "get": {
        "summary": "Get an evaluation by ID.\n",
        "description": "Get an evaluation by ID.\n",
        "operationId": "GetEval",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eval"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Eval"
            }
          }
        }
      },
      "post": {
        "summary": "Update certain properties of an evaluation.\n",
        "description": "Update certain properties of an evaluation.\n",
        "operationId": "UpdateEval",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Eval"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "serde_json::Value"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "Eval"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an evaluation.\n",
        "description": "Delete an evaluation.\n",
        "operationId": "DeleteEval",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "serde_json::Value"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "eval_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "eval_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "eval_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/evals/{eval_id}/runs": {
      "get": {
        "summary": "Get a list of runs for an evaluation.\n",
        "description": "Get a list of runs for an evaluation.\n",
        "operationId": "GetEvalRuns",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunList"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "EvalRunList"
            }
          }
        }
      },
      "post": {
        "summary": "Kicks off a new run for a given evaluation, specifying the data source, and what model configuration to use to test. The datasource will be validated against the schema specified in the config of the evaluation.\n",
        "description": "Kicks off a new run for a given evaluation, specifying the data source, and what model configuration to use to test. The datasource will be validated against the schema specified in the config of the evaluation.\n",
        "operationId": "CreateEvalRun",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEvalRunRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRun"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateEvalRunRequest2"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "EvalRun"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "eval_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "eval_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/evals/{eval_id}/runs/{run_id}": {
      "get": {
        "summary": "Get an evaluation run by ID.\n",
        "description": "Get an evaluation run by ID.\n",
        "operationId": "GetEvalRun",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRun"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "EvalRun"
            }
          }
        }
      },
      "post": {
        "summary": "Cancel an ongoing evaluation run.\n",
        "description": "Cancel an ongoing evaluation run.\n",
        "operationId": "CancelEvalRun",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRun"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "EvalRun"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an eval run.\n",
        "description": "Delete an eval run.\n",
        "operationId": "DeleteEvalRun",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "serde_json::Value"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "eval_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "run_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "eval_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "run_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "eval_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "run_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/evals/{eval_id}/runs/{run_id}/output_items": {
      "get": {
        "summary": "Get a list of output items for an evaluation run.\n",
        "description": "Get a list of output items for an evaluation run.\n",
        "operationId": "GetEvalRunOutputItems",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunOutputItemList"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "EvalRunOutputItemList"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "eval_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "run_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/evals/{eval_id}/runs/{run_id}/output_items/{output_item_id}": {
      "get": {
        "summary": "Get an evaluation run output item by ID.\n",
        "description": "Get an evaluation run output item by ID.\n",
        "operationId": "GetEvalRunOutputItem",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvalRunOutputItem"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "EvalRunOutputItem"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "eval_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "run_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "output_item_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/files": {
      "get": {
        "summary": "Returns a list of files.",
        "description": "Returns a list of files.",
        "operationId": "ListFiles",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListFilesResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Upload a file that can be used across various endpoints. Individual files\ncan be up to 512 MB, and each project can store up to 2.5 TB of files in\ntotal. There is no organization-wide storage limit. Uploads to this\nendpoint are rate-limited to 1,000 requests per minute per authenticated\nuser.\n\n- The Assistants API supports files up to 2 million tokens and of specific\n  file types. See the [Assistants Tools guide](/docs/assistants/tools) for\n  details.\n- The Fine-tuning API only supports `.jsonl` files. The input also has\n  certain required formats for fine-tuning\n  [chat](/docs/api-reference/fine-tuning/chat-input) or\n  [completions](/docs/api-reference/fine-tuning/completions-input) models.\n- The Batch API only supports `.jsonl` files up to 200 MB in size. The input\n  also has a specific required\n  [format](/docs/api-reference/batch/request-input).\n- For Retrieval or `file_search` ingestion, upload files here first. If\n  you need to attach multiple uploaded files to the same vector store, use\n  [`/vector_stores/{vector_store_id}/file_batches`](/docs/api-reference/vector-stores-file-batches/createBatch)\n  instead of attaching them one by one. Vector store attachment has separate\n  limits from file upload, including 2,000 attached files per minute per\n  organization.\n\nPlease [contact us](https://help.openai.com/) if you need to increase these\nstorage limits.\n",
        "description": "Upload a file that can be used across various endpoints. Individual files\ncan be up to 512 MB, and each project can store up to 2.5 TB of files in\ntotal. There is no organization-wide storage limit. Uploads to this\nendpoint are rate-limited to 1,000 requests per minute per authenticated\nuser.\n\n- The Assistants API supports files up to 2 million tokens and of specific\n  file types. See the [Assistants Tools guide](/docs/assistants/tools) for\n  details.\n- The Fine-tuning API only supports `.jsonl` files. The input also has\n  certain required formats for fine-tuning\n  [chat](/docs/api-reference/fine-tuning/chat-input) or\n  [completions](/docs/api-reference/fine-tuning/completions-input) models.\n- The Batch API only supports `.jsonl` files up to 200 MB in size. The input\n  also has a specific required\n  [format](/docs/api-reference/batch/request-input).\n- For Retrieval or `file_search` ingestion, upload files here first. If\n  you need to attach multiple uploaded files to the same vector store, use\n  [`/vector_stores/{vector_store_id}/file_batches`](/docs/api-reference/vector-stores-file-batches/createBatch)\n  instead of attaching them one by one. Vector store attachment has separate\n  limits from file upload, including 2,000 attached files per minute per\n  organization.\n\nPlease [contact us](https://help.openai.com/) if you need to increase these\nstorage limits.\n",
        "operationId": "CreateFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "description": "The File object (not file name) to be uploaded.\n",
                    "type": "string",
                    "format": "binary"
                  },
                  "purpose": {
                    "description": "The intended purpose of the uploaded file. One of:\n- `assistants`: Used in the Assistants API\n- `batch`: Used in the Batch API\n- `fine-tune`: Used for fine-tuning\n- `vision`: Images used for vision fine-tuning\n- `user_data`: Flexible file type for any purpose\n- `evals`: Used for eval data sets\n",
                    "type": "string"
                  },
                  "expires_after": {
                    "description": "The expiration policy for a file. By default, files with `purpose=batch` expire after 30 days and all other files are persisted until they are manually deleted.",
                    "type": "string"
                  }
                },
                "required": [
                  "file",
                  "purpose"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIFile"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "FormData": {
              "fields": [
                {
                  "description": "The File object (not file name) to be uploaded.\n",
                  "kind": {
                    "File": {
                      "accept": []
                    }
                  },
                  "name": "file",
                  "required": true
                },
                {
                  "description": "The intended purpose of the uploaded file. One of:\n- `assistants`: Used in the Assistants API\n- `batch`: Used in the Batch API\n- `fine-tune`: Used for fine-tuning\n- `vision`: Images used for vision fine-tuning\n- `user_data`: Flexible file type for any purpose\n- `evals`: Used for eval data sets\n",
                  "kind": "Text",
                  "name": "purpose",
                  "required": true
                },
                {
                  "description": "The expiration policy for a file. By default, files with `purpose=batch` expire after 30 days and all other files are persisted until they are manually deleted.",
                  "kind": "Text",
                  "name": "expires_after",
                  "required": false
                }
              ]
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "OpenAIFile"
            }
          }
        }
      }
    },
    "/files/{file_id}": {
      "get": {
        "summary": "Returns information about a specific file.",
        "description": "Returns information about a specific file.",
        "operationId": "RetrieveFile",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIFile"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "OpenAIFile"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a file and remove it from all vector stores.",
        "description": "Delete a file and remove it from all vector stores.",
        "operationId": "DeleteFile",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "DeleteFileResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "file_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "file_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/files/{file_id}/content": {
      "get": {
        "summary": "Returns the contents of the specified file.",
        "description": "Returns the contents of the specified file.",
        "operationId": "DownloadFile",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "serde_json::Value"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "file_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/fine_tuning/alpha/graders/run": {
      "post": {
        "summary": "Run a grader.\n",
        "description": "Run a grader.\n",
        "operationId": "RunGrader",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunGraderRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunGraderResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "RunGraderRequest2"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "RunGraderResponse"
            }
          }
        }
      }
    },
    "/fine_tuning/alpha/graders/validate": {
      "post": {
        "summary": "Validate a grader.\n",
        "description": "Validate a grader.\n",
        "operationId": "ValidateGrader",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateGraderRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateGraderResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "ValidateGraderRequest2"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ValidateGraderResponse"
            }
          }
        }
      }
    },
    "/fine_tuning/checkpoints/{fine_tuned_model_checkpoint}/permissions": {
      "get": {
        "summary": "**NOTE:** This endpoint requires an [admin API key](../admin-api-keys).\n\nOrganization owners can use this endpoint to view all permissions for a fine-tuned model checkpoint.\n",
        "description": "**NOTE:** This endpoint requires an [admin API key](../admin-api-keys).\n\nOrganization owners can use this endpoint to view all permissions for a fine-tuned model checkpoint.\n",
        "operationId": "ListFineTuningCheckpointPermissions",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFineTuningCheckpointPermissionResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListFineTuningCheckpointPermissionResponse"
            }
          }
        }
      },
      "post": {
        "summary": "**NOTE:** Calling this endpoint requires an [admin API key](../admin-api-keys).\n\nThis enables organization owners to share fine-tuned models with other projects in their organization.\n",
        "description": "**NOTE:** Calling this endpoint requires an [admin API key](../admin-api-keys).\n\nThis enables organization owners to share fine-tuned models with other projects in their organization.\n",
        "operationId": "CreateFineTuningCheckpointPermission",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFineTuningCheckpointPermissionRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFineTuningCheckpointPermissionResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateFineTuningCheckpointPermissionRequest2"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListFineTuningCheckpointPermissionResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "fine_tuned_model_checkpoint",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "fine_tuned_model_checkpoint",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/fine_tuning/checkpoints/{fine_tuned_model_checkpoint}/permissions/{permission_id}": {
      "delete": {
        "summary": "**NOTE:** This endpoint requires an [admin API key](../admin-api-keys).\n\nOrganization owners can use this endpoint to delete a permission for a fine-tuned model checkpoint.\n",
        "description": "**NOTE:** This endpoint requires an [admin API key](../admin-api-keys).\n\nOrganization owners can use this endpoint to delete a permission for a fine-tuned model checkpoint.\n",
        "operationId": "DeleteFineTuningCheckpointPermission",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFineTuningCheckpointPermissionResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "DeleteFineTuningCheckpointPermissionResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "fine_tuned_model_checkpoint",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        },
        {
          "in": "path",
          "name": "permission_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/fine_tuning/jobs": {
      "get": {
        "summary": "List your organization's fine-tuning jobs\n",
        "description": "List your organization's fine-tuning jobs\n",
        "operationId": "ListPaginatedFineTuningJobs",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaginatedFineTuningJobsResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListPaginatedFineTuningJobsResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Creates a fine-tuning job which begins the process of creating a new model from a given dataset.\n\nResponse includes details of the enqueued job including job status and the name of the fine-tuned models once complete.\n\n[Learn more about fine-tuning](/docs/guides/model-optimization)\n",
        "description": "Creates a fine-tuning job which begins the process of creating a new model from a given dataset.\n\nResponse includes details of the enqueued job including job status and the name of the fine-tuned models once complete.\n\n[Learn more about fine-tuning](/docs/guides/model-optimization)\n",
        "operationId": "CreateFineTuningJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFineTuningJobRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FineTuningJob"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateFineTuningJobRequest2"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "FineTuningJob"
            }
          }
        }
      }
    },
    "/fine_tuning/jobs/{fine_tuning_job_id}": {
      "get": {
        "summary": "Get info about a fine-tuning job.\n\n[Learn more about fine-tuning](/docs/guides/model-optimization)\n",
        "description": "Get info about a fine-tuning job.\n\n[Learn more about fine-tuning](/docs/guides/model-optimization)\n",
        "operationId": "RetrieveFineTuningJob",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FineTuningJob"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "FineTuningJob"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "fine_tuning_job_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/fine_tuning/jobs/{fine_tuning_job_id}/cancel": {
      "post": {
        "summary": "Immediately cancel a fine-tune job.\n",
        "description": "Immediately cancel a fine-tune job.\n",
        "operationId": "CancelFineTuningJob",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FineTuningJob"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "FineTuningJob"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "fine_tuning_job_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/fine_tuning/jobs/{fine_tuning_job_id}/checkpoints": {
      "get": {
        "summary": "List checkpoints for a fine-tuning job.\n",
        "description": "List checkpoints for a fine-tuning job.\n",
        "operationId": "ListFineTuningJobCheckpoints",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFineTuningJobCheckpointsResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListFineTuningJobCheckpointsResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "fine_tuning_job_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/fine_tuning/jobs/{fine_tuning_job_id}/events": {
      "get": {
        "summary": "Get status updates for a fine-tuning job.\n",
        "description": "Get status updates for a fine-tuning job.\n",
        "operationId": "ListFineTuningEvents",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFineTuningJobEventsResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ListFineTuningJobEventsResponse"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "fine_tuning_job_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/fine_tuning/jobs/{fine_tuning_job_id}/pause": {
      "post": {
        "summary": "Pause a fine-tune job.\n",
        "description": "Pause a fine-tune job.\n",
        "operationId": "PauseFineTuningJob",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FineTuningJob"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "FineTuningJob"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "fine_tuning_job_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/fine_tuning/jobs/{fine_tuning_job_id}/resume": {
      "post": {
        "summary": "Resume a fine-tune job.\n",
        "description": "Resume a fine-tune job.\n",
        "operationId": "ResumeFineTuningJob",
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FineTuningJob"
                }
              }
            }
          }
        },
        "x-schematic": {
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "FineTuningJob"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "fine_tuning_job_id",
          "required": true,
          "schema": {
            "type": "string"
          },
          "style": "simple"
        }
      ]
    },
    "/images/edits": {
      "post": {
        "summary": "Creates an edited or extended image given one or more source images and a prompt. This endpoint supports GPT Image models (`gpt-image-1.5`, `gpt-image-1`, `gpt-image-1-mini`, and `chatgpt-image-latest`) and `dall-e-2`.",
        "description": "Creates an edited or extended image given one or more source images and a prompt. This endpoint supports GPT Image models (`gpt-image-1.5`, `gpt-image-1`, `gpt-image-1-mini`, and `chatgpt-image-latest`) and `dall-e-2`.",
        "operationId": "CreateImageEdit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditImageBodyJsonParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagesResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "EditImageBodyJsonParam"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ImagesResponse"
            }
          }
        }
      }
    },
    "/images/generations": {
      "post": {
        "summary": "Creates an image given a prompt. [Learn more](/docs/guides/images).\n",
        "description": "Creates an image given a prompt. [Learn more](/docs/guides/images).\n",
        "operationId": "CreateImage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateImageRequest2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful JSON response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagesResponse"
                }
              }
            }
          }
        },
        "x-schematic": {
          "request": {
            "Json": {
              "module_path": null,
              "type_name": "CreateImageRequest2"
            }
          },
          "response": {
            "Json": {
              "module_path": null,
              "type_name": "ImagesResponse"
            }
          }
        }
      }
    },
    "/images/variations": {
      "post": {
        "summary": "Creates a variation of a given image. This endpoint only supports `dall-e-2`.",
        "description": "Creates a variation of a given image. This endpoint only supports `dall-e-2`.",
        "operationId": "CreateImageVariation",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "description": "The image to use as the basis for the variation(s). Must be a valid PNG file, less than 4MB, and square.",
                    "type": "string",
                    "format": "binary"
                  },
                  "model": {
                    "description": "The model to use for image generation. Only `dall-e-2` is supported at this time.",
                    "type": "string"
                  },
                  "n": {
                    "description": "The number of images to generate. Must be between 1 and 10.",
                    "type": "string"
                  },
                  "response_format": {
                    "description": "The format in which the generated images are returned. Must be one of `url` or `b64_json`. URLs are only valid for 60 minutes after the image has been generated.",
                    "type": "string"
                  },
                  "size": {
[...]
